form.ui-tabs {
	
}
form.ui-tabs div.ui-tabs-panel {
	border: "1px red solid" !important;
}
form.ui-tabs div.ui-tabs-panel fieldset {
	margin: 10px 0 0;
	border: none;
}
form.ui-tabs div.ui-tabs-panel fieldset div {
	clear: both;
	margin: 4px 0;
}
form.ui-tabs div.ui-tabs-panel fieldset div label {
	color: #333;
	display: block;
	float: left;
	margin: 0 0 5px;
	padding: 2px 7px 3px 3px;
	width: 136px;
	font-size: 12px;
}
form.ui-tabs div.ui-tabs-panel fieldset div label.check,
form.ui-tabs div.ui-tabs-panel fieldset div label.radio {
	float: none;
	margin: 0 0 5px 149px;
	padding: 5px 0 0;
	width: 334px;
}
form.ui-tabs div.ui-tabs-panel fieldset div input {
	width: 300px;
	padding: 3px;
	font-size: 13px;
	border: 1px #999 solid;
	background: #aeaeae;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div input.check {
		display: inline;
		width: 14px;
		height: 14px;
	}

form.ui-tabs div.ui-tabs-panel fieldset div select {
	padding: 3px;
	width: 200px;
	border: 1px #999 solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}
form.ui-tabs div.ui-tabs-panel fieldset div textarea {
	padding: 3px;
	width: 300px;
	border: 1px #999 solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}
form.ui-tabs div.ui-tabs-panel fieldset div small {
	clear: both;
	display: block;
	margin: 0 0 6px 145px;
	font-size: 10px;
}
