		<script type="text/javascript">
			jQuery(function(){
				jQuery("#settingsForm").tabs();
			});
		</script>
		<div id="left-wrap" class="center-wrap">
			<!-- BEGIN settings -->
			<h2>{SETTINGS}</h2>
			<form id="settingsForm" method="post" action="?">
				<ul class="tabs">
					<!-- BEGIN section.tab -->
					<li><a href="#section-{SECTION}"{CLASS}>{LABEL}</a></li>
					<!-- END section.tab -->
				</ul>
				<!-- BEGIN error-main -->
				<div class="ui-widget">
					<div class="ui-state-error ui-corner-all">
						<p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>{ERROR_SETTINGS_MAIN}</p>
					</div>
				</div>
				<!-- END error-main -->
				<!-- BEGIN section -->
				<div id="section-{SECTION}"{CLASS}>
					<!-- BEGIN description -->
					<div class="description">
						<p>{LABEL_REQUIRED}</p>
					</div>
					<!-- END description -->
					<fieldset>
						<!-- BEGIN setting.checkbox -->
						<div class="optional">
							<label for="{FIELD_ID}">{FIELD_LABEL}</label>
							<input type="checkbox" id="{FIELD_ID}" name="{FIELD_ID}" class="check" {FIELD_VALUE} />
						</div>
						<!-- END setting.checkbox -->
						<!-- BEGIN setting.text -->
						<div class="optional">
							<label for="{FIELD_ID}">{FIELD_LABEL}</label>
							<input type="{FIELD_TYPE}" id="{FIELD_ID}" name="{FIELD_ID}" class="input-textlarge" value="{FIELD_VALUE}" />
						</div>
						<!-- END setting.text -->
						<!-- BEGIN setting.number -->
						<div class="optional">
							<label for="{FIELD_ID}">{FIELD_LABEL}</label>
							<input type="text" id="{FIELD_ID}" name="{FIELD_ID}" class="input-textsmall" value="{FIELD_VALUE}" />
						</div>
						<!-- END setting.number -->
					</fieldset>
					
					<!--  BEGIN setting.datatable -->
					<script src="/libraries/auditlog.js"></script>
					<link rel="stylesheet" type="text/css" href="/css/bootstrap-table.css" />
					<div id="auditLogWrapper">
						<h3>Audit log - last 100 records</h3>
						<table class="table table-hover" style="display: none;" id="auditLogTable">
						   <thead>
						   </thead>
						   <tbody>
						   </tbody>
						</table>
					</div>
					<!-- END setting.datatable -->
					
				</div>
				<!-- END section -->
				<div class="form-navigation">
					<input type="hidden" name="cid" value="{CID}" />
					<input type="hidden" name="cmd" value="{CMD}" />
					<input type="hidden" name="eid" value="{EID}" />
					<input type="hidden" name="dispatch" value="editSettings" />
					<input type="submit" class="input-button" value="{LABEL_SAVE}" />
				</div>
			</form>
			<!-- END settings -->
		</div>

	</div>
</div>
