/*
 * PunchCMS Form Styling
 * @version: 1.0
 * @author: Felix iT B.V. - Robin van Baalen
 */

/*
 * General Markup
 */
input,
select,
textarea {
	outline: 0;
}

/*
 * Normal form markup
 */
form.ui-tabs {
	border: 1px #ddd solid;
}
form.ui-tabs div.anchor a {
	color: #2C457C;
	text-decoration: underline;
}
form.ui-tabs div.anchor a:hover {
	text-decoration: none;
	background: none;
	color: #2C457C;
}
form.ui-tabs div.ui-tabs-panel {
	overflow: auto;
}
form.ui-tabs div.ui-tabs-panel fieldset {
	margin: 10px 0 0;
	border: none;
}
form.ui-tabs div.ui-tabs-panel fieldset div.optional,
form.ui-tabs div.ui-tabs-panel fieldset div.required {
	margin: 10px 0;
	overflow: auto;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div * {
	}
	form.ui-tabs div.ui-tabs-panel fieldset div div.clear {
		clear: both !important;
	}
	
form.ui-tabs div.ui-tabs-panel fieldset div.error input {
	border: 1px solid #CD0A0A;
	}
form.ui-tabs div.ui-tabs-panel fieldset div label {
	color: #333;
	display: block;
	float: left;
	margin: 0 0 5px;
	padding: 2px 7px 3px 3px;
	width: 150px;
	font-size: 12px;
	}
	label.check,
	label.radio {
		float: none !important;
	}
	label.ui-button {
		float: left !important;
	}
	select.break {
		display: block;
		margin: 10px 0 6px 160px;
	}
	
form.ui-tabs div.ui-tabs-panel fieldset div input {
	width: 300px;
	padding: 3px;
	font-size: 13px;
	border: 1px #999 solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div input.input-textsmall {
		width: 108px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div textarea.input-feed {
		width: 210px;
		height: 28px;
		margin: 8px 0 4px;
		display: none;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div input.check {
		display: inline;
		width: 14px;
		height: 14px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div div.input-textdate.disabled {
		background-color: #eaeaea;
		color: #999;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div div.input-textdate {
		width: 200px !important;
		float: left;
		padding: 3px !important;
		font-size: 13px;
		border: 1px #999 solid;
		margin: 0;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div a.date-button {
			float: left;
			margin: 4px 4px;
		}
	form.ui-tabs div.ui-tabs-panel fieldset div input.inline {
		width: 84px;
	}
		
form.ui-tabs div.ui-tabs-panel fieldset div select {
	padding: 3px;
	width: 200px;
	border: 1px #999 solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	}
	form.ui-tabs div.ui-tabs-panel fieldset div input[type=radio],
	form.ui-tabs div.ui-tabs-panel fieldset div input[type=checkbox] {
		border: none; /* We do not want that on checkboxes and radio buttons */
	}	
	form.ui-tabs div.ui-tabs-panel fieldset div select.select-multiple {
		min-height: 100px;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div select.select-multiple option {
			padding: 5px;
		}
	form.ui-tabs div.ui-tabs-panel fieldset div .time {
		width: 50px;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .time option {
			
		}
form.ui-tabs div.ui-tabs-panel fieldset div textarea {
	padding: 3px;
	width: 300px;
	border: 1px #999 solid;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}
form.ui-tabs div.ui-tabs-panel fieldset div small {
	clear: both;
	display: block;
	margin: 4px 0 6px 161px;
	font-size: 10px;
}
form.ui-tabs div.ui-tabs-panel fieldset div div.disabled {
	background: none repeat scroll 0 0 #EAEAEA;
	float: left;
	padding: 5px;
	width: 478px;
}
form.ui-tabs div.ui-tabs-panel fieldset div div.widget {
	margin: 0;
	position: relative;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div div.widget div.required,
	form.ui-tabs div.ui-tabs-panel fieldset div div.widget div.optional {
		margin-left: 10px;
		margin-right: 10px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .widget .row {
		clear: both !important;
		overflow: visible !important;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div div.widget div input.file {
		margin: 0 0 8px;
	}
form.ui-tabs div.ui-tabs-panel fieldset div .filefield {
	border: 1px #999 solid;
	padding-bottom: 10px;
	float: left; /* Safari likes that */
	overflow: hidden;
	width: 488px;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield h3 {
		border: none !important;
		padding: 0 5px;
		font-size: 12px !important;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .header {
		background: #E0EEFF;
		padding: 10px 11px 5px;
		border-bottom: 1px #999 solid;
		margin: 0 0 10px;
		overflow: auto;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-left-radius: 4px;		
		-webkit-border-top-right-radius: 4px;		
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .ui-sortable {
		margin: 3px 5px;
		position: static !important;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile,
	form.ui-tabs div.ui-tabs-panel fieldset div .multifile {
		background: #F1F5F8;
		padding: 5px;
		border: 1px #999 solid;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		cursor: move !important;
		overflow: auto;
		position: relative;
		top: 0;
		left: 0;
		margin: 3px 0;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .multifile {
			cursor: auto !important;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .filefield .ui-sortable-helper {
			-moz-box-shadow: 1px 1px 1px #999;
			-webkit-box-shadow: 1px 1px 1px #999;
		}
		
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile .thumbnail,
	form.ui-tabs div.ui-tabs-panel fieldset div .multifile .thumbnail {
		position: absolute;
		left: 7px;
		top: 7px;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile .thumbnail img,
		form.ui-tabs div.ui-tabs-panel fieldset div .multifile .thumbnail img {
			border: 1px #999 solid;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile .thumbnail:hover img,
		form.ui-tabs div.ui-tabs-panel fieldset div .multifile .thumbnail:hover img {
			border: 1px #333 solid;
		}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile .document,
	form.ui-tabs div.ui-tabs-panel fieldset div .multifile .document {
		position: absolute;
		top: 5px;
		left: 7px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile .button,
	form.ui-tabs div.ui-tabs-panel fieldset div .multifile .button {
		position: absolute;
		right: 8px;
		top: 3px;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile p, 
	form.ui-tabs div.ui-tabs-panel fieldset div .multifile p { 
		margin-left: 25px;
		xfloat: left;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile div.progressWrapper,
	form.ui-tabs div.ui-tabs-panel fieldset div .multifile div.progressWrapper {
		border: 1px solid #666;
		margin: 5px 80px 3px 20px;
		padding: 0;
		width: auto;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .multifile div.progressBar,
	form.ui-tabs div.ui-tabs-panel fieldset div .multifile div.progressBar {
		height: 4px;
		background-color: #999;
		width: 0;
		padding: 0;
		margin: 0;
	}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageChooser {
		background: none repeat scroll 0 0 #EAEAEA;
		margin: 0 auto 20px;
		padding: 5px;
		width: 335px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageChooser label {
			float: left;
			margin: 0 25px 0 14px;
			padding: 4px 0;
			width: auto;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageChooser select {
			float: left;
		}
		
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageList ul {
		list-style: none;
		padding: 4px;
		}
		form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageList ul li {
			float: left;
			width: 110px;
			margin: 4px;
			}
			form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageList ul li a {
				display: block;
				width: 104px;
				height: 106px;
				}
				form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageList ul li a img {
					border: 2px #2C457C solid;
					width: 100px;
					height: 100px;
					display: block;
					overflow: hidden;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
				}
				form.ui-tabs div.ui-tabs-panel fieldset div .filefield div.storageList ul li a:hover img {
					-moz-box-shadow: 0 0 5px #333;
				}
	form.ui-tabs div.ui-tabs-panel fieldset div .filefield .storageLoader {
		background: url("/css/blue-green/images/ui-anim_basic_16x16.gif") no-repeat scroll 0 0 transparent;
		height: 20px;
		margin: 0 auto;
		padding-left: 20px;
		width: 180px;
	}
		
div.form-navigation {
	float: right;
	margin-top: 20px;
	}
	div.form-navigation a {
		margin-right: 10px;
	}

/*
 * Small (column) form markup
 */

#folder form.ui-tabs,
div.column form.ui-tabs {
	border: none;
}
div.column form.ui-tabs div.ui-tabs-panel h3 {
	margin: 0;
}
div.column form.ui-tabs div.ui-tabs-panel fieldset div label {
	width: 120px;
	}
div.column form.ui-tabs div.ui-tabs-panel fieldset div input[type=text] {
	width: 150px !important;
	}
	div.column form.ui-tabs div.ui-tabs-panel fieldset div input.check {
	}
div.column form.ui-tabs div.ui-tabs-panel fieldset div select {
	width: 158px !important;
	}
div.column form.ui-tabs div.ui-tabs-panel fieldset ul {
	min-height: 50px;
	margin: 5px 0;
	}
	div.column form.ui-tabs div.ui-tabs-panel fieldset ul li {
		position: relative;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	
#folder .menu {
	width: 162px !important;
	display: block;
	clear: both;
	overflow: auto;
	margin: 5px auto 20px;
	}
	#folder .menu a {
		float: left;
	}
#folder select {
	width: 160px;
	min-height: 200px;
	}
	#folder select option {
		padding: 5px;
		cursor: pointer;
	}
	
.input-button {
	width: auto !important;
}
	
/*
 * Hack
 */
a#new:hover span.ui-button-text {
	color: #fff !important;
}
a#remove:hover span.ui-button-text {
	color: #fff !important;
}
#folder form.ui-tabs div.ui-tabs-panel a {
}