<div id="content">
	<!-- BEGIN form.add -->
	<h2>Create Super Admin</h2>
	<div class="formWrapper">
		<form id="accountForm" method="post" action="?">
			<div class="required">
				<label for="frm_admin_handle">Username</label>
				<input type="text" id="frm_admin_handle" name="frm_admin_handle" class="input-textsmall" value="" />
			</div>
			<div class="required">
				<label for="frm_admin_pass">Password</label>
				<input type="password" id="frm_admin_pass" name="frm_admin_pass" class="input-textsmall" value="" />
			</div>
			<div class="required">
				<label for="frm_admin_name">Full Name</label>
				<input type="text" id="frm_admin_name" name="frm_admin_name" class="input-textlarge" value="" />
			</div>
			<div class="required">
				<label for="frm_admin_email">Email</label>
				<input type="text" id="frm_admin_email" name="frm_admin_email" class="input-textlarge" value="" />
			</div>
			<div class="navigation">
				<input type="hidden" name="cid" value="{CID}" />
				<input type="hidden" name="cmd" value="{CMD}" />
				<input type="hidden" name="dispatch" value="editAdmin" />
				<input type="submit" value="Save" />
			</div>
		</form>
	</div>
	<!-- END form.add -->
	<!-- BEGIN text -->
	{BODY}
	<!-- END text -->
</div>