
								<div class="required">
									<label for="{FIELD_ID}">
										<a href="javascript:;" rel="internal" class="fieldButton"><img id="{FIELD_ID}_cascade" src="images/lang_unlocked_disabled.gif" width="17" height="16" alt="" /></a>
										{FIELD_REQUIRED}{FIELD_NAME}
									</label>
									<div id="{FIELD_ID}_alt" class="input-textlarge disabled" style="display:none"></div>
									<div id="{FIELD_ID}_canvas" class="input-textdate"></div>
									<input type="hidden" id="{FIELD_ID}" name="{FIELD_ID}" value="date" /><input type="hidden" id="{FIELD_ID}_format" name="{FIELD_ID}_format" value="{FIELD_DATE_FORMAT}" /> <a href="javascript:;" id="calendarButton_{FIELD_ID}" class="date-button" rel="internal"><img src="images/date_select.gif" alt="Select date" /></a>
									<script type="text/javascript">
										alert("elementfield_date.tpl.htm - Replace Calendar.setup by jQueryUI");
										var hut = Calendar.setup(
											{
												range 		: [1990,2020],
												inputField  : "{FIELD_ID}",         // ID of the input field
												displayArea : "{FIELD_ID}_canvas",
												daFormat 	: "{FIELD_DATE_FORMAT}",
												ifFormat    : "%d %B %Y %H:%M:%S",
												button      : "calendarButton_{FIELD_ID}",
												onUpdate	: objContentLanguage.dateToTemp
											}
										);
									</script>
									<!-- BEGIN field.date.descr -->
										<small>{FIELD_DESCRIPTION}</small>
									<!-- END field.date.descr -->
									<!-- BEGIN field.date.value -->
									<input type="hidden" id="{FIELD_LANGUAGE_ID}" name="{FIELD_LANGUAGE_ID}" value="{FIELD_LANGUAGE_VALUE}" />
									<!-- END field.date.value -->
									<input type="hidden" id="{FIELD_ID}_cascades" name="{FIELD_ID}_cascades" value="" />
									<script type="text/javascript">
									// <![CDATA[
										objContentLanguage.addField('{FIELD_ID}', '{FIELD_CASCADES}', objContentLanguage.FIELDTYPE.DATE);
									// ]]>
									</script>
									<div class="clear"></div>
								</div>