		<div id="left-wrap">
			<h2>{MAINTITLE}<!-- BEGIN title.sub --> <span class="name">&lsquo;{MAINSUB}&rsquo;</span><!-- END title.sub --></h2>
			<div id="treeContainer"></div>
			<div id="content" class="hollyhacked">
				<form id="elementForm" enctype="multipart/form-data" method="post" action="?" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
<!--				<span class="menu"><a href="{BUTTON_CANCEL_HREF}" rel="internal">{BUTTON_CANCEL}</a></span>-->
					<!-- BEGIN error-main -->
					<div class="error-main">
						<p>{ERROR_MAIN}</p>
					</div>
					<script type="text/javascript">
					// <![CDATA[
							Nifty("div.error-main");
					// ]]>
					</script>
					<!-- END error-main -->
					<ul class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
						<!-- BEGIN field-title -->
						<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#section-fields">{HEADER}</a></li>
						<!-- END field-title -->
						<!-- BEGIN headertitel_simple -->
						<li class="ui-state-default ui-corner-top"><a href="#section-details" class="on">{HEADER_TITLE}</a></li>
						<!-- END headertitel_simple -->
						<!-- BEGIN meta-title -->
						<li class="ui-state-default ui-corner-top"><a href="#section-meta">{HEADER}</a></li>
						<!-- END meta-title -->
						<!-- BEGIN publish-title -->
						<li class="ui-state-default ui-corner-top"><a href="#section-publish">{HEADER}</a></li>
						<!-- END publish-title -->
						<!-- BEGIN permission-title -->
						<li class="ui-state-default ui-corner-top"><a href="#section-permissions">{HEADER}</a></li>
						<!-- END permission-title -->
					</ul>
					<div id="section-fields" class="anchor ui-tabs-panel ui-widget-content ui-corner-bottom">
						<!-- BEGIN description-fields -->
						<div class="description">
							<p>{LABEL}</p>
						</div>
						<!-- END description-fields -->
						<fieldset>
							<!-- BEGIN elementlanguage -->
							<div class="optional{ERROR_LANGUAGE_ON}">
								<!-- BEGIN error-language -->
								<p class="error">{ERROR_LANGUAGE}</p>
								<!-- END error-language -->
								<label for="frm_language">
									<a href="javascript:;" rel="internal" class="fieldButton"><img id="language_cascade" src="images/lang_unlocked_disabled.gif" width="17" height="16" alt="" /></a>
									<a href="javascript:;" rel="internal" class="fieldButton"><img id="language_active" src="images/lang_enabled.gif" width="17" height="16" alt="" /></a>
									{LABEL_LANGUAGE}
								</label>
								<select id="frm_language" name="frm_language" class="select-one" onchange="objContentLanguage.swap(this.options[this.selectedIndex].value);">
									<!-- BEGIN list_language -->
									<option value="{LANGUAGELIST_VALUE}" {LANGUAGELIST_SELECTED}>{LANGUAGELIST_TEXT}</option>
									<!-- END list_language -->
								</select>
								<input type="hidden" id="language_actives" name="language_actives" value="{ACTIVES_LANGUAGE}" />
							</div>
							<script type="text/javascript">
							// <![CDATA[
								var objContentLanguage = new ContentLanguage();
								objContentLanguage.currentLanguage = {ACTIVE_LANGUAGE};
								objContentLanguage.defaultLanguage = {DEFAULT_LANGUAGE};
								objContentLanguage.setActives('{ACTIVES_LANGUAGE}');
								objContentLanguage.init();

								function FCKeditor_OnComplete(editorInstance) {										
									editorInstance.Events.AttachEvent('OnBlur', FCKToTemp);
									editorInstance.Events.AttachEvent('OnAfterLinkedFieldUpdate', FCKToTemp);
									<!-- BEGIN field_textarea_oncomplete_value -->
									objContentLanguage.addField('{ELEMENT_FIELD_ID}', '{ELEMENT_FIELD_CASCADES}', objContentLanguage.FIELDTYPE.TEXTAREA);
									<!-- END field_textarea_oncomplete_value -->
								}

								function FCKToTemp(editorInstance) {
									objContentLanguage.toTemp(editorInstance.Name);
								}
							// ]]>
							</script>
							<!-- END elementlanguage -->
							<input type="hidden" name="dispatch" value="addElement" />
						</fieldset>

						<div class="divider"></div>

						<!-- BEGIN elementfields -->
						<fieldset>
							{ELEMENT_FIELDS}
						</fieldset>
						<!-- END elementfields -->

						<div class="form-navigation">
							<a href="{BUTTON_FORMCANCEL_HREF}" rel="internal">{BUTTON_FORMCANCEL}</a>&nbsp;&nbsp;&nbsp;<input type="submit" class="input-button" value="{LABEL_SAVE}" />
						</div>
					</div>
					<div id="section-details" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
						<!-- BEGIN description-details -->
						<div class="description">
							<p>{LABEL}</p>
						</div>
						<!-- END description-details -->

						<fieldset>
							<div class="optional{ERROR_ACTIVE_ON}">
								<!-- BEGIN error-active -->
								<p class="error">{ERROR_ACTIVE}</p>
								<!-- END error-active -->
								<label for="frm_active" class="check"><input type="checkbox" id="frm_active" name="frm_active" class="check" {FORM_ACTIVE_VALUE} /> {LABEL_ACTIVE}</label>
							</div>
							<!-- BEGIN elementispage -->
							<div class="optional{ERROR_ISPAGE_ON}">
								<!-- BEGIN error-element-ispage -->
								<p class="error">{ERROR_ISPAGE}</p>
								<!-- END error-element-ispage -->
								<label for="frm_ispage" class="check"><input type="checkbox" id="frm_ispage" name="frm_ispage" class="check" {FORM_ISPAGE_VALUE} /> {LABEL_ISPAGE}</label>
							</div>
							<!-- END elementispage -->
							<div class="required{ERROR_NAME_ON}">
								<!-- BEGIN error-element-name -->
								<p class="error">{ERROR_NAME}</p>
								<!-- END error-element-name -->
								<label for="frm_name">* {LABEL_ELEMENTNAME}</label>
								<input type="text" id="frm_name" name="frm_name" class="input-textlarge" value="{FORM_NAME_VALUE}" />
							</div>
							<div class="optional{ERROR_APINAME_ON}">
								<!-- BEGIN error-element-apiname -->
								<p class="error">{ERROR_APINAME}</p>
								<!-- END error-element-apiname -->
								<label for="frm_apiname"><a href="#" title="{APINAME_DESCRIPTION}" rel="internal">API</a> {LABEL_NAME}</label>
								<input type="text" id="frm_apiname" name="frm_apiname" class="input-textlarge" value="{FORM_APINAME_VALUE}" />
								<small>{APINAME_NOTE}</small>
							</div>
							<div class="optional{ERROR_ALIAS_ON}">
								<!-- BEGIN error-element-alias -->
								<p class="error">{ERROR_ALIAS}</p>
								<!-- END error-element-alias -->
								<label for="frm_alias">{LABEL_ALIAS}</label>
								<input type="text" id="frm_alias" name="frm_alias" class="input-textlarge" value="{FORM_ALIAS_VALUE}" />
								<small>{ALIAS_NOTE}</small>
							</div>
							<!-- BEGIN elementtemplate -->
							<div class="required{ERROR_TEMPLATE_ON}">
								<!-- BEGIN error-templatename -->
								<p class="error">{ERROR_TEMPLATE}</p>
								<!-- END error-templatename -->
								<label for="frm_template">* {LABEL_TEMPLATENAME}</label>
								<select id="frm_template" name="frm_template" class="select-one">
									<!-- BEGIN list_template -->
									<option value="{TEMPLATELIST_VALUE}" {TEMPLATELIST_SELECTED}>{TEMPLATELIST_TEXT}</option>
									<!-- END list_template -->
								</select>
							</div>
							<!-- END elementtemplate -->
							<div class="optional{ERROR_NOTES_ON}">
								<!-- BEGIN error-element-notes -->
								<p class="error">{ERROR_NOTES}</p>
								<!-- END error-element-notes -->
								<label for="frm_description">{LABEL_NOTES}</label>
								<textarea id="frm_description" name="frm_description" class="input-textmedium" cols="32" rows="6">{FORM_NOTES_VALUE}</textarea>
							</div>
							<input type="hidden" name="dispatch" value="addElement" />
						</fieldset>

						<div class="form-navigation">
							<input type="hidden" name="cid" value="{CID}" />
							<input type="hidden" name="cmd" value="{CMD}" />
							<input type="hidden" name="eid" value="{EID}" />
							<a href="{BUTTON_FORMCANCEL_HREF}" rel="internal">{BUTTON_FORMCANCEL}</a>&nbsp;&nbsp;&nbsp;<input type="submit" class="input-button" value="{LABEL_SAVE}" />
						</div>
					</div>
					<div id="section-publish" class="anchor">
						<!-- BEGIN description-publish -->
						<div class="description">
							<p>{LABEL}</p>
						</div>
						<!-- END description-publish -->
						<fieldset>
							<div class="required">
								<div class="widget">
									<div class="required row">
										<label for="publish_start" class="check"><input type="checkbox" id="publish_start" name="publish_start" class="check" {START_DATE_ACTIVE} /> {LABEL_START_DATE}</label>
									</div>
									<div class="required row">
										<label for="publish_start_date">{LABEL_DATE}</label>
										<div id="publish_start_date_canvas" class="input-textdate" style="width:200px">{START_DATE_DISPLAY}</div>
										<input type="hidden" id="publish_start_date" name="publish_start_date" value="{START_DATE_VALUE}" /> <a href="javascript:;" id="calendarButton_start" class="date-button" rel="internal"><img src="images/date_select.gif" alt="{LABEL_DATE_CHOOSER}" /></a>
										<script type="text/javascript">
											jQuery.debug({content: "elementfields.tpl.htm - Row 188:\nReplace Calendar.setup by jQueryUI datepicker", type: "info"});
											Calendar.setup({
												inputField  : "publish_start_date",
												displayArea : "publish_start_date_canvas",
												daFormat 	: "%d %B %Y",
												ifFormat    : "%d %B %Y %H:%M:%S",
												button      : "calendarButton_start",
												showsTime	: false
											});
										</script>
									</div>
									<div class="required row">
										<label for="publish_start_hour">{LABEL_TIME}</label>
										<select id="publish_start_hour" name="publish_start_hour" class="select-onesmall">
											<!-- BEGIN date.start.hour -->
											<option value="{VALUE}" {SELECTED}>{LABEL}</option>
											<!-- END date.start.hour -->
										</select>&nbsp;&nbsp;:&nbsp;
										<select id="publish_start_minute" name="publish_start_minute" class="select-onesmall">
											<!-- BEGIN date.start.minute -->
											<option value="{VALUE}" {SELECTED}>{LABEL}</option>
											<!-- END date.start.minute -->
										</select>
									</div>
								</div>
							</div>
							<div class="required">
								<div class="widget">
									<div class="required row">
										<label for="publish_end" class="check"><input type="checkbox" id="publish_end" name="publish_end" class="check" {END_DATE_ACTIVE} /> {LABEL_END_DATE}</label>
									</div>
									<div class="required row">
										<label for="publish_end_date">{LABEL_DATE}</label>
										<input id="publish_end_date_show" type="text" class="input-textdate" name="publish_end_date_show" value="{END_DATE_DISPLAY}" />
<!--										<div id="publish_end_date_canvas" class="input-textdate" style="width:200px">{END_DATE_DISPLAY}</div>-->
										<input type="hidden" id="publish_end_date" name="publish_end_date" value="{END_DATE_VALUE}" />
										<script type="text/javascript">
											jQuery(function() {
												jQuery("#publish_end_date_show").datepicker({
													showOtherMonths: true, 
													altField: '#publish_end_date', 
													altFormat: 'mm-dd-yyyy ',
													showOn: 'both',
													buttonImage: 'images/date_select.gif',
													buttonImageOnly: false
												});
											});
										</script>
									</div>
									<div class="required row">
										<label for="publish_end_hour">{LABEL_TIME}</label>
										<select id="publish_end_hour" name="publish_end_hour" class="select-onesmall">
											<!-- BEGIN date.end.hour -->
											<option value="{VALUE}" {SELECTED}>{LABEL}</option>
											<!-- END date.end.hour -->
										</select>&nbsp;&nbsp;:&nbsp;
										<select id="publish_end_minute" name="publish_end_minute" class="select-onesmall">
											<!-- BEGIN date.end.minute -->
											<option value="{VALUE}" {SELECTED}>{LABEL}</option>
											<!-- END date.end.minute -->
										</select>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="form-navigation">
							<a href="{BUTTON_FORMCANCEL_HREF}" rel="internal">{BUTTON_FORMCANCEL}</a>&nbsp;&nbsp;&nbsp;<input type="submit" class="input-button" value="{LABEL_SAVE}" />
						</div>
					</div>
					<!-- BEGIN tab.meta -->
					<div id="section-meta" class="anchor">
						<!-- BEGIN description-meta -->
						<div class="description">
							<p>{LABEL}</p>
						</div>
						<!-- END description-meta -->
						<fieldset>
							<!-- BEGIN meta-language -->
							<div class="optional{ERROR_META_LANGUAGE_ON}">
								<!-- BEGIN error-meta-language -->
								<p class="error">{ERROR_META_LANGUAGE}</p>
								<!-- END error-meta-language -->
								<label for="frm_meta_language">
									<a href="javascript:;" rel="internal" class="fieldButton"><img id="meta_language_cascade" src="images/lang_unlocked_disabled.gif" width="17" height="16" alt="" /></a>
									{LABEL_META_LANGUAGE}
								</label>
								<select id="frm_meta_language" name="frm_meta_language" class="select-one" onchange="objMetaLanguage.swap(this.options[this.selectedIndex].value);">
									<!-- BEGIN list_meta-language -->
									<option value="{LANGUAGELIST_VALUE}" {LANGUAGELIST_SELECTED}>{LANGUAGELIST_TEXT}</option>
									<!-- END list_meta-language -->
								</select>
								<input type="hidden" id="meta_language_actives" name="meta_language_actives" value="{ACTIVES_META_LANGUAGE}" />
							</div>
							<script type="text/javascript">
							// <![CDATA[
								//var objMetaLanguage = new MetaLanguage();
								//objMetaLanguage.currentLanguage = {ACTIVE_META_LANGUAGE};
								//objMetaLanguage.defaultLanguage = {DEFAULT_META_LANGUAGE};
								//objMetaLanguage.setActives('{ACTIVES_META_LANGUAGE}');
								//objMetaLanguage.init();
							// ]]>
							</script>
							<!-- END meta-language -->
						</fieldset>

						<div class="divider"></div>
						<fieldset>
							<div class="optional{ERROR_META_TITLE_ON}">
								<!-- BEGIN error-meta-title -->
								<p class="error">{ERROR_META_TITLE}</p>
								<!-- END error-meta-title -->
								<label for="frm_meta_title"><a href="javascript:;" rel="internal" class="fieldButton"><img id="frm_meta_title_cascade" src="images/lang_unlocked_disabled.gif" width="17" height="16" alt="" /></a> {LABEL_META_TITLE}</label>
								<input type="text" id="frm_meta_title" name="frm_meta_title" class="input-textlarge" value="{FORM_META_TITLE_VALUE}" onblur="objMetaLanguage.toTemp(this.id);" />
								<!-- BEGIN field.meta_title.value -->
								<input type="hidden" id="{FIELD_LANGUAGE_ID}" name="{FIELD_LANGUAGE_ID}" value="{FIELD_LANGUAGE_VALUE}" />
								<!-- END field.meta_title.value -->
								<input type="hidden" id="frm_meta_title_cascades" name="frm_meta_title_cascades" value="" />
							</div>
							<div class="optional{ERROR_META_KEYWORDS_ON}">
								<!-- BEGIN error-meta-keywords -->
								<p class="error">{ERROR_META_KEYWORDS}</p>
								<!-- END error-meta-keywords -->
								<label for="frm_meta_keywords"><a href="javascript:;" rel="internal" class="fieldButton"><img id="frm_meta_keywords_cascade" src="images/lang_unlocked_disabled.gif" width="17" height="16" alt="" /></a> {LABEL_META_KEYWORDS}</label>
								<textarea id="frm_meta_keywords" name="frm_meta_keywords" class="input-textmedium" cols="32" rows="6" onblur="objMetaLanguage.toTemp(this.id);">{FORM_META_KEYWORDS_VALUE}</textarea>
								<!-- BEGIN field.meta_keywords.value -->
								<input type="hidden" id="{FIELD_LANGUAGE_ID}" name="{FIELD_LANGUAGE_ID}" value="{FIELD_LANGUAGE_VALUE}" />
								<!-- END field.meta_keywords.value -->
								<input type="hidden" id="frm_meta_keywords_cascades" name="frm_meta_keywords_cascades" value="" />
								<small>{META_KEYWORDS_NOTE}</small>
							</div>
							<div class="optional{ERROR_META_DESCRIPTION_ON}">
								<!-- BEGIN error-meta-description -->
								<p class="error">{ERROR_META_DESCRIPTION}</p>
								<!-- END error-meta-description -->
								<label for="frm_meta_description"><a href="javascript:;" rel="internal" class="fieldButton"><img id="frm_meta_description_cascade" src="images/lang_unlocked_disabled.gif" width="17" height="16" alt="" /></a> {LABEL_META_DESCRIPTION}</label>
								<textarea id="frm_meta_description" name="frm_meta_description" class="input-textmedium" cols="32" rows="6" onblur="objMetaLanguage.toTemp(this.id);">{FORM_META_DESCRIPTION_VALUE}</textarea>
								<!-- BEGIN field.meta_description.value -->
								<input type="hidden" id="{FIELD_LANGUAGE_ID}" name="{FIELD_LANGUAGE_ID}" value="{FIELD_LANGUAGE_VALUE}" />
								<!-- END field.meta_description.value -->
								<input type="hidden" id="frm_meta_description_cascades" name="frm_meta_description_cascades" value="" />
								<small>{META_DESCRIPTION_NOTE}</small>
							</div>
							<script type="text/javascript">
							// <![CDATA[
								//objMetaLanguage.addField('frm_meta_title', '{META_TITLE_CASCADES}');
								//objMetaLanguage.addField('frm_meta_keywords', '{META_KEYWORDS_CASCADES}');
								//objMetaLanguage.addField('frm_meta_description', '{META_DESCRIPTION_CASCADES}');
							// ]]>
							</script>
						</fieldset>

						<div class="form-navigation">
							<a href="{BUTTON_FORMCANCEL_HREF}" rel="internal">{BUTTON_FORMCANCEL}</a>&nbsp;&nbsp;&nbsp;<input type="submit" class="input-button" value="{LABEL_SAVE}" />
						</div>
					</div>
					<!-- END tab.meta -->
					<!-- BEGIN tab.permissions -->
					<div id="section-permissions" class="anchor">
						<!-- BEGIN description-permission -->
						<div class="description">
							<p>{LABEL}</p>
						</div>
						<!-- END description-permission -->
						<fieldset>
							<div class="column-small">
								<h3>Gebruikers</h3>
								<div class="selectList">
									<ul>
										<li><a id="perm_1" href="javascript:;" class="group" rel="internal">Administrators</a><input type="hidden" name="perm_1" value="1,3,5,6" /></li>
										<li><a id="perm_2" href="javascript:;" class="user" rel="internal">Pieter Pan</a><input type="hidden" name="perm_2" value="" /></li>
										<li><a id="perm_3" href="javascript:;" class="user" rel="internal">George Lucas</a><input type="hidden" name="perm_3" value="2,3,6" /></li>
										<li><a id="perm_4" href="javascript:;" class="user" rel="internal">Pietje Puk en de seven dwergen</a><input type="hidden" name="perm_4" value="" /></li>
									</ul>
								</div>
							</div>
							<div class="column-small" style="margin:0;width:245px;">
								<h3>Rechten</h3>
								<div class="permissions">
									<label for="perm_fullcontrol" class="label-check-widget"><input type="checkbox" id="perm_fullcontrol" name="perm_fullcontrol" class="check" /> Full Control</label>
									<label for="perm_change" class="label-check-widget"><input type="checkbox" id="perm_change" name="perm_change" class="check" /> Change Permissions</label>
									<label for="perm_create" class="label-check-widget"><input type="checkbox" id="perm_create" name="perm_create" class="check" /> Create</label>
									<label for="perm_write" class="label-check-widget"><input type="checkbox" id="perm_write" name="perm_write" class="check" /> Write</label>
									<label for="perm_read" class="label-check-widget"><input type="checkbox" id="perm_read" name="perm_read" class="check" /> Read</label>
									<label for="perm_browse" class="label-check-widget"><input type="checkbox" id="perm_browse" name="perm_browse" class="check" /> Browse</label>
								</div>
								<h3>Advanced</h3>
								<label for="perm_replace" class="label-check-widget"><input type="checkbox" id="perm_replace" name="perm_replace" class="check" /> Replace permissions on all child elements</label>
								<label for="perm_inherit" class="label-check-widget"><input type="checkbox" id="perm_inherit" name="perm_inherit" class="check" /> Inherit permissions from parent</label>
							</div>
						</fieldset>									
						<script type="text/javascript">
						// <![CDATA[
							PermissionList.addPermission('1');
							PermissionList.addPermission('3');
						// ]]>
						</script>
						<div class="form-navigation">
							<a href="{BUTTON_FORMCANCEL_HREF}" rel="internal">{BUTTON_FORMCANCEL}</a>&nbsp;&nbsp;&nbsp;<input type="submit" class="input-button" value="{LABEL_SAVE}" />
						</div>
					</div>
					<!-- END tab.permissions -->
				</form>
			</div>
			<div id="footer">
				&nbsp;
			</div>
		</div>

	</div>
</div>
