
		<div id="left-wrap" class="center-wrap">
			<!-- BEGIN feeds -->
			<h2>
				<span class="menu"><a href="javascript:Feed.prepareAdd();" rel="internal">{BUTTON_ADD}</a></span>
				{FEEDS}
			</h2>
				<form id="feedForm" method="post" action="?"{FRM_STYLE} class="fullpage ui-tabs ui-widget ui-widget-content ui-corner-all">
					<!-- BEGIN error-main -->
					<div class="error-main">
						<p>{ERROR_FEED_MAIN}</p>
					</div>
					<script type="text/javascript">
					// <![CDATA[
							Nifty("div.error-main");
					// ]]>
					</script>
					<!-- END error-main -->
					<ul class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
						<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#alias-fields">{FRM_HEADER}</a></li>
					</ul>
					<div id="alias-fields" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
						<fieldset>
							<div class="required">
								<label for="frm_active">{FRM_LABEL_ACTIVE}</label>
								<input type="checkbox" id="frm_active" name="frm_active" class="check" {FORM_ACTIVE_VALUE} />							
							</div>
							<div class="required">
								<label for="frm_name">* {FRM_LABEL_NAME}</label>
								<input type="text" id="frm_name" name="frm_name" class="input-textlarge" value="{FORM_NAME_VALUE}" />
								<small>{FRM_DESCR_NAME}</small>
							</div>			
							<div class="required">
								<label for="frm_feed">* {FRM_LABEL_FEED}</label>
								<input type="text" id="frm_feed" name="frm_feed" class="input-textlarge" value="{FORM_FEED_VALUE}" />
								<small>{FRM_DESCR_FEED}</small>
							</div>					
							<div class="required">
								<label for="frm_refresh">* {FRM_LABEL_REFRESH}</label>
								<input type="text" id="frm_refresh" name="frm_refresh" class="input-textsmall" value="{FORM_REFRESH_VALUE}" />
								<small>{FRM_DESCR_REFRESH}</small>
							</div>					
						</fieldset>
						<div class="form-navigation">
							<input type="hidden" name="cid" value="{CID}" />
							<input type="hidden" name="cmd" value="{CMD}" />
							<input type="hidden" name="eid" value="{EID}" />
							<input type="hidden" name="dispatch" value="editFeed" />
							<input type="submit" class="input-button" value="{FRM_LABEL_SAVE}" />
						</div>
					</div>
				</form>
				<div class="fullpage" style="margin:18px 10px;">
					<!-- BEGIN multiview -->
					<div class="itemheader">
						<div class="itemcount">
							{LIST_ITEMS_PER_PAGE} <a {LIST_LENGTH_HREF_10} rel="internal">10</a> <a {LIST_LENGTH_HREF_25} rel="internal">25</a> <a {LIST_LENGTH_HREF_100} rel="internal">100</a>
						</div>
						<a href="{BUTTON_LIST_SELECT_HREF}" rel="internal">{BUTTON_LIST_SELECT}</a> 
						<span>
							{LIST_WITH_SELECTED} 
							<select id="frm_list_action" name="frm_list_action" onchange="{LIST_ACTION_ONCHANGE}">
							<!-- BEGIN multiview-listactionitem -->
							<option value="{LIST_ACTION_VALUE}">{LIST_ACTION_TEXT}</option>
							<!-- END multiview-listactionitem -->
							</select>
						</span>
					</div>
					<!-- END multiview -->
					<!-- BEGIN multiview-pagenav-top -->
					<div class="page-nav">
						<p>
							<a href="{PAGENAV_PREVIOUS_HREF}" rel="internal"><strong>{PAGENAV_PREVIOUS}</strong></a>
							<!-- BEGIN multiview-pagenavitem-top -->
							<a {PAGENAV_HREF} rel="internal">{PAGENAV_VALUE}</a>
							<!-- END multiview-pagenavitem-top -->
							<a href="{PAGENAV_NEXT_HREF}" rel="internal"><strong>{PAGENAV_NEXT}</strong></a>
						</p>
						<h4>{PAGENAV_PAGE}</h4>
					</div>
					<!-- END multiview-pagenav-top -->
					<div id="itemlist" class="language">
						<!-- BEGIN multiview-item -->
						<div class="itembox" id="box_{MULTIITEM_VALUE}">
							<div class="menu">
								<!-- BEGIN multiview-preview --><a href="{BUTTON_PREVIEW_HREF}" rel="internal">{BUTTON_PREVIEW}</a> | <!-- END multiview-preview -->
								<!-- BEGIN multiview-duplicate --><a href="{BUTTON_DUPLICATE_HREF}" rel="internal">{BUTTON_DUPLICATE}</a> | <!-- END multiview-duplicate --><a href="{BUTTON_REMOVE_HREF}" rel="internal">{BUTTON_REMOVE}</a>
							</div>
							<input type="checkbox" id="item_{MULTIITEM_VALUE}" name="item_{MULTIITEM_VALUE}" style="margin-top:2px" class="multiitem" />
							<div class="{MULTIITEM_TYPE_CLASS}">
								<p class="title"><a href="{MULTIITEM_HREF}"{MULTIITEM_ACTIVE} rel="internal">{MULTIITEM_NAME}</a> {MULTIITEM_POINTS_TO} <a href="{MULTIITEM_FEED_HREF}" rel="external" class="meta">{MULTIITEM_FEED}</a></p>
							</div>
						</div>
						<!-- END multiview-item -->
					</div>
					<!-- BEGIN multiview-pagenav-bottom -->
					<div class="page-nav">
						<p>
							<a href="{PAGENAV_PREVIOUS_HREF}" rel="internal"><strong>{PAGENAV_PREVIOUS}</strong></a>
							<!-- BEGIN multiview-pagenavitem-bottom -->
							<a {PAGENAV_HREF}>{PAGENAV_VALUE}</a>
							<!-- END multiview-pagenavitem-bottom -->
							<a href="{PAGENAV_NEXT_HREF}" rel="internal"><strong>{PAGENAV_NEXT}</strong></a>
						</p>
						<h4>{PAGENAV_PAGE}</h4>
					</div>
					<!-- END multiview-pagenav-bottom -->
				</div>
			<script type="text/javascript">
			 // <![CDATA[
			 		jQuery("div.off").live("mouseover mouseout", function(event){
						if(event.type == "mouseover"){
							jQuery(this).addClass("offhover");
						}
						else {
							jQuery(this).removeClass("offhover");
						}
				 	});
			 // ]]>
			 </script>
			<!-- END feeds -->
		</div>

	</div>
</div>