
<script type="text/javascript">
// <![CDATA[

function DragDropLink(){

	alert("DragDropLink() function executed.");
	
	//*** Action occures on drag.
	this._drag = function(sourceHtmlObject, dhtmlObject, targetHtmlObject) {
		targetHtmlObject.style.backgroundColor = "";
		targetHtmlObject.value = sourceHtmlObject.parentObject.id;
		
		//*** Trigger the language module.
		objContentLanguage.toTemp(targetHtmlObject.id);
	}

	//*** Action occures on drag moved in landing zone.
	this._dragIn = function(htmlObject, shtmlObject) {
		htmlObject.style.backgroundColor = "#fffacd";
		return htmlObject;
	}

	//*** Action occures on drag moved out landing zone.
	this._dragOut = function(htmlObject) {
		htmlObject.style.backgroundColor = "";
		return this;
	}
}

//*** Resize tree container.
function resizeTree() {
	 var objTree = jQuery("#treeContainer");
	 var windowHeight = jQuery(window).height();
	 var offsetY = objTree.offset().left;
	 var treeHeight = windowHeight - offsetY - 60;
	 objTree.css({ height: treeHeight + "px"});
}

//*** Onload action.
jQuery(function(){
	/*
	jQuery("ul.anchors a")
	.bind("click", function(){
		var __this = jQuery(this);
		__this.each(function(){
			jQuery(__this).removeClass("on");
			var strId = jQuery(this).attr("href").split("#").pop();
			console.log(strId);
			jQuery("#"+strId).hide();
		});
		
		__this.addClass('on');
		var strId = jQuery(this).attr("href").split("#").pop();
		jQuery("#"+strId).css({display:'block'});
		if (typeof FCKeditorAPI == "object") {
			for (var obj in FCKeditorAPI.__Instances) {
				var objEdit = FCKeditorAPI.GetInstance(obj);
				if (objEdit.Status == 2 && typeof objEdit.MakeEditable == "function") {
					objEdit.MakeEditable();
				}
			}
		}
		return;
	});
	*/
	$elementTabs = jQuery("#elementForm").tabs();
	
	if (jQuery("treeContainer").length > 0) {
		//*** On resize, recalculate the size of the treeview module.
		jQuery(window).bind("resize", function(){	
			resizeTree();
		});
		resizeTree();
	}
});

{SCRIPT}

// ]]>
</script>
</head>
