
<body id="login">

<div id="canvas">
	<div id="canvas-top">
		<div id="canvas-bottom">
			<!-- BEGIN logo -->
			<div class="client">
				<h1>{CLIENT_NAME}</h1>
				<span class="systemlink">{POWERED_BY} <a href="http://punchcms.org" rel="external">PunchCMS</a></span>
			</div>
			<!-- END logo -->
			<!-- BEGIN info -->
			<p class="event-info">{TEXT}</p>
			<!-- END info -->
			<!-- BEGIN warning -->
			<p class="event-warning">{TEXT}</p>
			<!-- END warning -->
			<!-- BEGIN error -->
			<p class="event-error">{TEXT}</p>
			<!-- END error -->
			<form id="loginForm" method="post" action="index.php">
				<dl>
					<!-- BEGIN loginlanguage -->
					<dt><label for="handle" class="optional">{LANGUAGE}:</label></dt>
					<dd>
						<select id="ilanguage" name="ilanguage" class="select-one" onchange="jQuery('#loginForm').submit();">
							<!-- BEGIN language_item -->
							<option value="{LANGUAGE_VALUE}"{LANGUAGE_SELECTED}>{LANGUAGE_TEXT}</option>
							<!-- END language_item -->
						</select>
					</dd>
					<dd><br /></dd>
					<!-- END loginlanguage -->
					<!-- BEGIN loginuser -->
					<dt><label for="handle">{USERNAME}:</label></dt>
					<dd><input type="text" id="handle" name="handle" class="input-textmedium" value="{USERNAME_VALUE}" /></dd>
					<!-- END loginuser -->
					<!-- BEGIN loginpasswd -->
					<dt><label for="passwd">{PASSWORD}:</label></dt>
					<dd><input type="password" id="passwd" name="passwd" class="input-textsmall" value="" /><span class="forgot_pass">( <a href="index.php?cid=9&amp;cmd=6" class="forgot" rel="internal">{FORGOT_PASS}</a> )</span></dd>
					<dd><input type="checkbox" id="remember_me" name="remember_me" /> <label for="remember_me">{REMEMBER_ME}</label></dd>
					<!-- END loginpasswd -->
					<dd style="text-align:right;margin-top:10px;">
						<input type="hidden" id="cid" name="cid" value="{CID}" />
						<input type="hidden" id="cmd" name="cmd" value="{CMD}" />
						<!-- BEGIN backbutton -->
						<a href="{BACK_LINK}">{BACK_BUTTON}</a>&nbsp;&nbsp;
						<!-- END backbutton -->
						<!-- BEGIN loginbutton -->
						<input type="submit" name="submitButton" class="input-button" value="{BUTTON}" />
						<!-- END loginbutton -->
					</dd>
				</dl>
			</form>
		</div>
	</div>
</div>
