
		<div id="left-wrap">
			<h2>{MAINTITLE}</h2>
			<div id="treeContainer"></div>

			<!-- BEGIN multiview -->
			<div id="content" class="hollyhacked">
				<div class="wrap">
					<h3>
						<span class="menu">
							<!-- BEGIN headermenu_1 --><a href="{BUTTON_NEWFIELD_HREF}" rel="internal">{BUTTON_NEWFIELD}</a> | <!-- END headermenu_1 -->
							<!-- BEGIN headermenu_5 --><a href="{BUTTON_NEWSUBJECT_HREF}" rel="internal">{BUTTON_NEWSUBJECT}</a><!-- END headermenu_5 -->
							<!-- BEGIN headermenu_2 --> | <a href="{BUTTON_NEWFOLDER_HREF}" rel="internal">{BUTTON_NEWFOLDER}</a><!-- END headermenu_2 -->
							<!-- BEGIN headermenu_7 --> | <a href="{BUTTON_NEWSTRUCTURE_HREF}" rel="internal">{BUTTON_NEWSTRUCTURE}</a><!-- END headermenu_7 -->
							<!-- BEGIN headermenu_6 --> | <a href="{BUTTON_MAIN_DUPLICATE_HREF}" rel="internal">{BUTTON_MAIN_DUPLICATE}</a><!-- END headermenu_6 -->
							<!-- BEGIN headermenu_3 --> | <a href="{BUTTON_EDIT_HREF}" rel="internal">{BUTTON_EDIT}</a><!-- END headermenu_3 -->
							<!-- BEGIN headermenu_4 --> | <a href="{BUTTON_REMOVE_HREF}" rel="internal">{BUTTON_REMOVE}</a><!-- END headermenu_4 --></span>
						{LABEL_SUBJECT}<span class="name">&lsquo;{SUBJECT_NAME}&rsquo;</span>
					</h3>
					<div class="itemheader">
						<div class="itemcount">
							{LIST_ITEMS_PER_PAGE} <a {LIST_LENGTH_HREF_10} rel="internal">10</a> <a {LIST_LENGTH_HREF_25} rel="internal">25</a> <a {LIST_LENGTH_HREF_100} rel="internal">100</a>
						</div>
						<a href="{BUTTON_LIST_SELECT_HREF}" rel="internal">{BUTTON_LIST_SELECT}</a> <span>{LIST_WITH_SELECTED} <select id="frm_list_action" name="frm_list_action" onchange="{LIST_ACTION_ONCHANGE}">
							<!-- BEGIN multiview-listactionitem -->
							<option value="{LIST_ACTION_VALUE}">{LIST_ACTION_TEXT}</option>
							<!-- END multiview-listactionitem -->
						</select></span>
					</div>
					<!-- BEGIN multiview-pagenav-top -->
					<div class="page-nav">
						<p>
							<a href="{PAGENAV_PREVIOUS_HREF}" rel="internal"><strong>{PAGENAV_PREVIOUS}</strong></a>
							<!-- BEGIN multiview-pagenavitem-top -->
							<a {PAGENAV_HREF} rel="internal">{PAGENAV_VALUE}</a>
							<!-- END multiview-pagenavitem-top -->
							<a href="{PAGENAV_NEXT_HREF}" rel="internal"><strong>{PAGENAV_NEXT}</strong></a>
						</p>
						<h4>{PAGENAV_PAGE}</h4>
					</div>
					<!-- END multiview-pagenav-top -->
					<br />
					<!-- MULTIVIEW TEMPLATE -->
					<div id="itemlist">
					<!-- BEGIN multiview-item -->
						<div class="itembox" id="box_{MULTIITEM_VALUE}">
							<div class="off">
								<div class="inactive">
									<div class="menu">
										 <!-- BEGIN multiview-preview --><a href="{BUTTON_PREVIEW_HREF}" rel="internal">{BUTTON_PREVIEW}</a> |  <!-- END multiview-preview -->  
										 <!-- BEGIN multiview-duplicate --><a href="{BUTTON_DUPLICATE_HREF}" rel="internal">{BUTTON_DUPLICATE}</a> |  <!-- END multiview-duplicate -->
										 <a href="{BUTTON_REMOVE_HREF}" rel="internal">{BUTTON_REMOVE}</a>
									</div>
									<div class="moveDrag"></div>
									<input type="checkbox" id="item_{MULTIITEM_VALUE}" name="item_{MULTIITEM_VALUE}" class="multiitem" />
									<div class="{MULTIITEM_TYPE_CLASS}">
										<p class="title"><a {MULTIITEM_HREF}{MULTIITEM_ACTIVE} rel="internal">{MULTIITEM_NAME}</a>{MULTIITEM_TYPE}</p>
										<p class="meta">{MULTIITEM_META}</p>
									</div>
								</div>
							</div>
						</div>
						 <script type="text/javascript">
						 //<![CDATA[
						 		alert("multiview.tpl.htm - Is there Draggable javascript on this page? Remove deprecated javascripts if not.");
								//new Draggable("box_{MULTIITEM_VALUE}", {handle:"moveDrag", revert:true, onStart:Itemlist.startMove, onEnd:Itemlist.endMove});
						 // ]]>
						 </script>
					<!-- END multiview-item -->
					</div>
					<br />
					<!-- BEGIN multiview-pagenav-bottom -->
					<div class="page-nav">
						<p>
							<a href="{PAGENAV_PREVIOUS_HREF}" rel="internal"><strong>{PAGENAV_PREVIOUS}</strong></a>
							<!-- BEGIN multiview-pagenavitem-bottom -->
							<a {PAGENAV_HREF} rel="internal">{PAGENAV_VALUE}</a>
							<!-- END multiview-pagenavitem-bottom -->
							<a href="{PAGENAV_NEXT_HREF}" rel="internal"><strong>{PAGENAV_NEXT}</strong></a>
						</p>
						<h4>{PAGENAV_PAGE}</h4>
					</div>
					<!-- END multiview-pagenav-bottom -->
				</div>
			</div>
			 <script type="text/javascript">
			 // <![CDATA[
					Itemlist.init();
			 // ]]>
			 </script>
			<!-- END multiview -->

			<div id="footer">
				&nbsp;
			</div>
		</div>

	</div>
</div>

