
		<div id="left-wrap">
			<h2>{MAINTITLE}</h2>
			<div id="treeContainer"></div>

			<!-- BEGIN multiview -->
			<div id="content" class="hollyhacked">
				<div class="wrap">
					<!-- BEGIN headermenu -->
					<div class="action-menu">
						<!-- BEGIN headermenu_4 --><a href="{BUTTON_REMOVE_HREF}" rel="internal" id="btn-remove">{BUTTON_REMOVE}</a><!-- END headermenu_4 -->
						<!-- BEGIN headermenu_3 --><a href="{BUTTON_EDIT_HREF}" rel="internal" id="btn-edit">{BUTTON_EDIT}</a><!-- END headermenu_3 -->
						<!-- BEGIN headermenu_6 --><a href="{BUTTON_MAIN_DUPLICATE_HREF}" rel="internal" id="btn-duplicate">{BUTTON_MAIN_DUPLICATE}</a><!-- END headermenu_6 -->
						<!-- BEGIN headermenu_7 --><a href="{BUTTON_NEWSTRUCTURE_HREF}" rel="internal" id="new-structure">{BUTTON_NEWSTRUCTURE}</a><!-- END headermenu_7 -->
						<!-- BEGIN headermenu_2 --><a href="{BUTTON_NEWFOLDER_HREF}" rel="internal" id="new-folder">{BUTTON_NEWFOLDER}</a><!-- END headermenu_2 -->
						<!-- BEGIN headermenu_5 --><a href="{BUTTON_NEWSUBJECT_HREF}" rel="internal" id="new-element">{BUTTON_NEWSUBJECT}</a><!-- END headermenu_5 -->
						<!-- BEGIN headermenu_8 --><a href="{BUTTON_NEWDYNAMIC_HREF}" rel="internal" id="new-dynamic">{BUTTON_NEWDYNAMIC}</a><!-- END headermenu_8 -->
						<!-- BEGIN headermenu_1 --><a href="{BUTTON_NEWFIELD_HREF}" rel="internal" id="new-field">{BUTTON_NEWFIELD}</a><!-- END headermenu_1 -->
					</div>
					<!-- END headermenu -->
					<h3>
<!--						<span class="menu"><a href="#" id="btn-options">{ACTIONS_OPEN}</a></span>-->
						{LABEL_SUBJECT}<span class="name">&lsquo;{SUBJECT_NAME}&rsquo;</span>
					</h3>
					<div class="itemheader">
						<div class="itemcount">
							{LIST_ITEMS_PER_PAGE} <a {LIST_LENGTH_HREF_10} rel="internal">10</a> <a {LIST_LENGTH_HREF_25} rel="internal">25</a> <a {LIST_LENGTH_HREF_100} rel="internal">100</a>
						</div>
						<!-- BEGIN multiview-listaction -->
						<a href="{BUTTON_LIST_SELECT_HREF}" rel="internal">{BUTTON_LIST_SELECT}</a> <span>{LIST_WITH_SELECTED} <select id="frm_list_action" name="frm_list_action" onchange="{LIST_ACTION_ONCHANGE}">
							<!-- BEGIN multiview-listactionitem -->
							<option value="{LIST_ACTION_VALUE}">{LIST_ACTION_TEXT}</option>
							<!-- END multiview-listactionitem -->
						</select></span>
						<!-- END multiview-listaction -->
					</div>
					<!-- BEGIN multiview-pagenav-top -->
					<div class="page-nav">
						<p>
							<a class="button" href="{PAGENAV_PREVIOUS_HREF}" rel="internal">{PAGENAV_PREVIOUS}</a>
							<!-- BEGIN multiview-pagenavitem-top -->
							<a {PAGENAV_HREF} rel="internal">{PAGENAV_VALUE}</a>
							<!-- END multiview-pagenavitem-top -->
							<a class="button" href="{PAGENAV_NEXT_HREF}" rel="internal">{PAGENAV_NEXT}</a>
						</p>
						<h4>{PAGENAV_PAGE}</h4>
					</div>
					<!-- END multiview-pagenav-top -->
					<!-- MULTIVIEW TEMPLATE -->
					<div id="itemlist">
					<!-- BEGIN multiview-item -->
						<div class="itembox" id="box_{MULTIITEM_VALUE}">
							<div class="menu">
								 <!-- BEGIN multiview-preview --><a href="{BUTTON_PREVIEW_HREF}" rel="internal">{BUTTON_PREVIEW}</a> |  <!-- END multiview-preview -->  
								 <!-- BEGIN multiview-duplicate --><a href="{BUTTON_DUPLICATE_HREF}" rel="internal">{BUTTON_DUPLICATE}</a> |  <!-- END multiview-duplicate -->
								 <a href="{BUTTON_REMOVE_HREF}" rel="internal">{BUTTON_REMOVE}</a>
							</div>
							<div class="moveDrag"></div>
							<input type="checkbox" id="item_{MULTIITEM_VALUE}" name="item_{MULTIITEM_VALUE}" class="multiitem" />
							<div class="{MULTIITEM_TYPE_CLASS}">
								<p class="title"><a {MULTIITEM_HREF}{MULTIITEM_ACTIVE} rel="internal" title="{MULTIITEM_TITLE}">{MULTIITEM_NAME}</a>{MULTIITEM_TYPE}</p>
								<p class="meta">{MULTIITEM_META}</p>
							</div>
						</div>
					<!-- END multiview-item -->
					</div>
					<!-- BEGIN multiview-pagenav-bottom -->
					<div class="page-nav">
						<p>
							<a class="button" href="{PAGENAV_PREVIOUS_HREF}" rel="internal">{PAGENAV_PREVIOUS}</a>
							<!-- BEGIN multiview-pagenavitem-bottom -->
							<a {PAGENAV_HREF} rel="internal">{PAGENAV_VALUE}</a>
							<!-- END multiview-pagenavitem-bottom -->
							<a class="button" href="{PAGENAV_NEXT_HREF}" rel="internal">{PAGENAV_NEXT}</a>
						</p>
						<h4>{PAGENAV_PAGE}</h4>
					</div>
					<!-- END multiview-pagenav-bottom -->
				</div>
			</div>
			 <script type="text/javascript">
			 // <![CDATA[
					Itemlist.init();
					jQuery(function(){
						jQuery("#new-dynamic").button({"icons": {"primary": "ui-icon-plus"}});
						jQuery("#new-element").button({"icons": {"primary": "ui-icon-plus"}});
						jQuery("#new-folder").button({"icons": {"primary": "ui-icon-plus"}});
						jQuery("#new-field").button({"icons": {"primary": "ui-icon-plus"}});
						jQuery("#new-structure").button({"icons": {"primary": "ui-icon-plus"}});
						
						jQuery("#btn-duplicate").button({"icons": {"primary": "ui-icon-newwin"}});
						jQuery("#btn-edit").button({"icons": {"primary": "ui-icon-pencil"}});
						jQuery("#btn-remove").button({"icons": {"primary": "ui-icon-cancel"}});
					});
			 // ]]>
			 </script>
			<!-- END multiview -->

			<div id="footer">
				&nbsp;
			</div>
		</div>

	</div>
</div>