		<div id="left-wrap" class="center-wrap">
			<!-- BEGIN profile -->
			<h2>{PROFILE}</h2>
			<div class="wrap">
				<form id="settingsProfileForm" method="post" action="?">
					<!-- BEGIN error-main -->
					<div class="error-main">
						<p>{ERROR_PROFILE_MAIN}</p>
					</div>
					<script type="text/javascript">
					// <![CDATA[
							Nifty("div.error-main");
					// ]]>
					</script>
					<!-- END error-main -->
					<!-- BEGIN description -->
					<div class="description">
						<p>{LABEL_REQUIRED}</p>
					</div>
					<!-- END description -->
					<fieldset>
						<div class="optional">
							<label for="frm_username">{LABEL_USERNAME}</label>
							<input type="text" id="frm_username" name="frm_username" class="input-textlarge" readonly="readonly" value="{FORM_USERNAME_VALUE}" />
						</div>
						<div class="optional{ERROR_NAME_ON}">
							<!-- BEGIN error-name -->
							<p class="error">{ERROR_NAME}</p>
							<!-- END error-name -->
							<label for="frm_name">{LABEL_NAME}</label>
							<input type="text" id="frm_name" name="frm_name" class="input-textlarge" value="{FORM_NAME_VALUE}" />
						</div>
						<div class="optional{ERROR_EMAIL_ON}">
							<!-- BEGIN error-email -->
							<p class="error">{ERROR_EMAIL}</p>
							<!-- END error-email -->
							<label for="frm_email">{LABEL_EMAIL}</label>
							<input type="text" id="frm_email" name="frm_email" class="input-textlarge" value="{FORM_EMAIL_VALUE}" />
						</div>
						<div class="optional{ERROR_TIMEZONE_ON}">
							<!-- BEGIN error-timezone -->
							<p class="error">{ERROR_TIMEZONE}</p>
							<!-- END error-timezone -->
							<label for="frm_timezone">{LABEL_TIMEZONE}</label>
							<select id="frm_timezone" name="frm_timezone" class="select-onelarge">
								<!-- BEGIN timezone-option -->
								<option value="{TIMEZONE_VALUE}"{TIMEZONE_SELECTED}>{TIMEZONE_TEXT}</option>
								<!-- END timezone-option -->
							</select>
						</div>
						<div class="optional{ERROR_LANGUAGE_ON}">
							<!-- BEGIN error-language -->
							<p class="error">{ERROR_LANGUAGE}</p>
							<!-- END error-language -->
							<label for="frm_language">{LABEL_LANGUAGE}</label>
							<select id="frm_language" name="frm_language" class="select-one">
								<!-- BEGIN language-option -->
								<option value="{LANGUAGE_VALUE}"{LANGUAGE_SELECTED}>{LANGUAGE_TEXT}</option>
								<!-- END language-option -->
							</select>
						</div>
						<input type="hidden" name="dispatch" value="editProfile" />
					</fieldset>
					<div class="form-navigation">
						<input type="hidden" name="cid" value="{CID}" />
						<input type="hidden" name="cmd" value="{CMD}" />
						<input type="hidden" name="eid" value="{EID}" />
						<input type="submit" class="input-button" value="{LABEL_SAVE}" />
					</div>
				</form>
			</div>
			<!-- END profile -->
			<!-- BEGIN password -->
			<h2>{PASSWORD}</h2>
			<div class="wrap">
				<form id="settingsPasswordForm" method="post" action="?">
					<!-- BEGIN error-main -->
					<div class="error-main">
						<p>{ERROR_PASSWORD_MAIN}</p>
					</div>
					<script type="text/javascript">
					// <![CDATA[
							Nifty("div.error-main");
					// ]]>
					</script>
					<!-- END error-main -->
					<!-- BEGIN description -->
					<div class="description">
						<p>{LABEL_REQUIRED}</p>
					</div>
					<!-- END description -->
					<fieldset>
						<div class="optional{ERROR_CURRENTPASS_ON}">
							<!-- BEGIN error-currentpass -->
							<p class="error">{ERROR_CURRENTPASS}</p>
							<!-- END error-currentpass -->
							<label for="frm_currentpass">{LABEL_CURRENTPASS}</label>
							<input type="password" id="frm_currentpass" name="frm_currentpass" class="input-textsmall" value="{FORM_CURRENTPASS_VALUE}" />
						</div>
						<div class="optional{ERROR_NEWPASS_ON}">
							<!-- BEGIN error-newpass -->
							<p class="error">{ERROR_NEWPASS}</p>
							<!-- END error-newpass -->
							<label for="frm_newpass">{LABEL_NEWPASS}</label>
							<input type="password" id="frm_newpass" name="frm_newpass" class="input-textsmall" value="{FORM_NEWPASS_VALUE}" />
							<small>{NEWPASS_NOTE}</small>
						</div>
						<div class="optional{ERROR_VERIFYPASS_ON}">
							<!-- BEGIN error-verifypass -->
							<p class="error">{ERROR_VERIFYPASS}</p>
							<!-- END error-verifypass -->
							<label for="frm_verifypass">{LABEL_VERIFYPASS}</label>
							<input type="password" id="frm_verifypass" name="frm_verifypass" class="input-textsmall" value="{FORM_VERIFYPASS_VALUE}" />
						</div>
						<input type="hidden" name="dispatch" value="editPass" />
					</fieldset>
					<div class="form-navigation">
						<input type="hidden" name="cid" value="{CID}" />
						<input type="hidden" name="cmd" value="{CMD}" />
						<input type="hidden" name="eid" value="{EID}" />
						<input type="submit" class="input-button" value="{LABEL_SAVE}" />
					</div>
				</form>
			</div>
			<!-- END password -->
		</div>

	</div>
</div>

<script type="text/javascript">
jQuery(function(){
	jQuery.debug({content: "Template: \n" + "profile" + ".tpl.htm", type:"info"});
});
</script>
