		<script type="text/javascript">
			jQuery(function(){
				jQuery("#settingsForm").tabs();
			});
		</script>
		<div id="left-wrap" class="center-wrap">
			<!-- BEGIN settings -->
			<h2>{SETTINGS}</h2>
			<form id="settingsForm" method="post" action="?">
				<ul class="tabs">
					<!-- BEGIN section.tab -->
					<li><a href="#section-{SECTION}"{CLASS}>{LABEL}</a></li>
					<!-- END section.tab -->
				</ul>
				<!-- BEGIN error-main -->
				<div class="error-main">
					<p>{ERROR_SETTINGS_MAIN}</p>
				</div>
				<script type="text/javascript">
				// <![CDATA[
						Nifty("div.error-main");
				// ]]>
				</script>
				<!-- END error-main -->
				<!-- BEGIN section -->
				<div id="section-{SECTION}"{CLASS}>
					<!-- BEGIN description -->
					<div class="description">
						<p>{LABEL_REQUIRED}</p>
					</div>
					<!-- END description -->
					<fieldset>
						<!-- BEGIN setting.checkbox -->
						<div class="optional clearfix">
							<label for="{FIELD_ID}" class="check"><input type="checkbox" id="{FIELD_ID}" name="{FIELD_ID}" class="input-checkbox" {FIELD_VALUE} /> {FIELD_LABEL}</label>
						</div>
						<!-- END setting.checkbox -->
						<!-- BEGIN setting.text -->
						<div class="optional clearfix">
							<label for="{FIELD_ID}">{FIELD_LABEL}</label>
							<input type="{FIELD_TYPE}" id="{FIELD_ID}" name="{FIELD_ID}" class="input-textlarge" value="{FIELD_VALUE}" />
						</div>
						<!-- END setting.text -->
						<!-- BEGIN setting.number -->
						<div class="optional clearfix">
							<label for="{FIELD_ID}">{FIELD_LABEL}</label>
							<input type="text" id="{FIELD_ID}" name="{FIELD_ID}" class="input-textsmall" value="{FIELD_VALUE}" />
						</div>
						<!-- END setting.number -->
					</fieldset>
				</div>
				<!-- END section -->
				<div class="form-navigation">
					<input type="hidden" name="cid" value="{CID}" />
					<input type="hidden" name="cmd" value="{CMD}" />
					<input type="hidden" name="eid" value="{EID}" />
					<input type="hidden" name="dispatch" value="editSettings" />
					<input type="submit" class="input-button" value="{LABEL_SAVE}" />
				</div>
			</form>
			<!-- END settings -->
		</div>

	</div>
</div>

