
		<div id="sidebar" style="display:none">
			<div class="tipbox">
				<h3>Tips</h3>
				<p>Cras ullamcorper est eget leo. Suspendisse eleifend justo ac enim.</p>
			</div>
			<div class="tipbox">
				<h4>Subtips</h4>
				<p>Curabitur augue purus, iaculis eu, iaculis non, condimentum ac, ante. Pellentesque molestie convallis quam. Sed tincidunt fringilla nulla. Nunc iaculis, quam quis sollicitudin hendrerit, lacus justo tincidunt enim, ac pharetra justo libero quis dolor.</p>
				<p>Proin commodo nisi quis dui. Aenean pharetra. Pellentesque suscipit auctor tortor. Quisque venenatis luctus ante. Morbi faucibus.</p>
			</div>
		</div>
