
		<div id="left-wrap">
			<h2>{MAINTITLE}</h2>
			<div id="treeContainer"></div>
			<div id="content" class="hollyhacked">
				<div class="wrap" style="float:left;">
					<div id="folder">
						<!-- BEGIN main-itemlist -->
						<form id="usersForm" method="post" action="#" class="users ui-tabs ui-widget ui-widget-content ui-corner-all">
							<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
								<h3 class="no-margin">
									<!-- BEGIN main-buttons -->
									{LISTTITLE}
									<!-- END main-buttons -->
								</h3>
								<span class="menu">
									<a id="new" href="javascript:{OBJECT}.clearForm('{FORM}');" rel="internal">{BUTTON_NEW}</a>
									<a id="remove" href="javascript:{OBJECT}.remove(jQuery('#itemlist option:selected').val());" rel="internal">{BUTTON_REMOVE}</a>
								</span>
								<fieldset>
									<select id="itemlist" name="itemList" class="select-multismall" multiple="multiple" onchange="{OBJECT}.load(jQuery('#itemlist option:selected').val());">
										<!-- BEGIN main-items -->
										<option value="{VALUE}"{OPT_TITLE}>{TEXT}</option>
										<!-- END main-items -->
									</select>
								</fieldset>
							</div>
						</form>
						<!-- END main-itemlist -->
						<!-- BEGIN main-return -->
						<p>{RETURN}</p>
						<!-- END main-return -->
					</div>
					{USER_EDIT}
				</div>
			</div>
			<div id="footer">
				&nbsp;<!-- The footer -->
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
jQuery(function(){
	jQuery("#remove").button({"icons": {"primary": "ui-icon-close"}});
	jQuery("#new").button({"icons": {"primary": "ui-icon-plus"}});
});
</script>