
					<div class="column">
						<form id="groupForm" method="post" action="#" class="users ui-tabs ui-widget ui-widget-content ui-corner-all">
							<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
								<h3 class="no-margin"><span id="userProgress"></span>{SUBTITLE}</h3>
								<fieldset>
									<div class="optional">
										<label for="is_active">{ACTIVE_LABEL}</label>
										<input type="checkbox" id="is_active" name="is_active" class="check" />
									</div>
									<div class="required">
										<label for="group_define_name">{NAME_LABEL}</label>
										<input type="text" id="group_define_name" name="group_define_name" class="input-textsmall" />
									</div>
									<div class="required">
										<label for="right_level">{GROUP_LEVEL_LABEL}</label>
										<select id="right_level" name="right_level" class="select-singlesmall">
											<option value="3">{LEVEL_ALL_LABEL}</option>
											<option value="2">{LEVEL_GROUP_LABEL}</option>
											<option value="1">{LEVEL_USER_LABEL}</option>
										</select>
									</div>
								</fieldset>
								
								<h3>{RIGHTS_LABEL}</h3>
								<fieldset>
									<h4>{SELECTED_RIGHTS_LABEL}</h4>
									<ul class="sortable strong" id="rights"></ul>
									<h4 class="secondary">{AVAILABLE_RIGHTS_LABEL}</h4>
									<ul class="sortable" id="allrights">
										<!-- BEGIN group-allrights -->
										<li id="right_{VALUE}">{TEXT}</li>
										<!-- END group-allrights -->
									</ul>
								</fieldset>
								<h3>{USERS_LABEL}</h3>
								<fieldset>
									<h4>{SELECTED_USERS_LABEL}</h4>
									<ul class="sortable strong" id="users"></ul>
									<h4 class="secondary">{AVAILABLE_USERS_LABEL}</h4>
									<ul class="sortable" id="allusers">
										<!-- BEGIN group-allusers -->
										<li id="user_{VALUE}">{TEXT}</li>
										<!-- END group-allusers -->
									</ul>
								</fieldset>
								<h3>{SUBGROUPS_LABEL}</h3>
								<fieldset>
									<h4>{SELECTED_GROUPS_LABEL}</h4>
									<ul class="sortable strong" id="subgroups"></ul>
									<h4 class="secondary">{AVAILABLE_GROUPS_LABEL}</h4>
									<ul class="sortable" id="allsubgroups">
										<!-- BEGIN group-allsubgroups -->
										<li id="group_{VALUE}">{TEXT}</li>
										<!-- END group-allsubgroups -->
									</ul>
								</fieldset>
								<div>
									<input type="hidden" id="group_id" name="group_id" />
								</div>
								<div class="subnav"><a id="cancel" href="#" rel="internal">{BUTTON_CANCEL}</a> | <input id="save" type="button" class="input-button" value="{BUTTON_SAVE}" /></div>
								<script type="text/javascript">
								// <![CDATA[
									jQuery("#rights li, #allsubgroups li, #allusers li, #allrights li").live("mouseover mouseout", function(event){
										if(event.type == "mouseover"){
											jQuery(this).addClass("hover");
										}
										else {
											jQuery(this).removeClass("hover");
										}
									});
									jQuery("#cancel").live("click", function(){
										Group.load(jQuery('#itemlist option:selected').val());
										return false;
									});
									jQuery("#save").live("click", function(){
										Group.write('groupForm');
										return false;
									});
								
									jQuery("#rights, #allrights").sortable({
										dropOnEmpty: true,
										connectWith: "#rights, #allrights",
										axis: "y"
									});
									jQuery("#rights, #allrights").disableSelection();
									
									jQuery("#users, #allusers").sortable({
										dropOnEmpty: true,
										connectWith: "#users, #allusers",
										axis: "y"
									});
									jQuery("#users, #allusers").disableSelection();
									
									jQuery("#groups, #allgroups").sortable({
										dropOnEmpty: true,
										connectWith: "#groups, #allgroups",
										axis: "y"
									});
									jQuery("#groups, #allgroups").disableSelection();
									
									jQuery("#subgroups, #allsubgroups").sortable({
										dropOnEmpty: true,
										connectWith: "#subgroups, #allsubgroups",
										axis: "y"
									});
									jQuery("#subgroups, #allsubgroups").disableSelection();
								// ]]>
								</script>
							</div>
						</form>
					</div>
