					<div class="column">
						<form id="userForm" method="post" action="#" class="users ui-tabs ui-widget ui-widget-content ui-corner-all">
							<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
								<h3 class="no-margin"><span id="userProgress"></span>{SUBTITLE}</h3>
								<fieldset>
									<div class="optional">
										<label for="is_active">{ACTIVE_LABEL}</label>
										<input type="checkbox" id="is_active" name="is_active" class="check" />
									</div>
									<div class="required">
										<label for="perm_type">{USER_TYPE_LABEL}</label>
										<select id="perm_type" name="perm_type" class="select-singlesmall">
											<option value="0">{USER_ANONYMOUS_LABEL}</option>
											<option value="1">{USER_USER_LABEL}</option>
											<option value="2">{USER_ADMIN_LABEL}</option>
											<option value="3">{USER_AREA_ADMIN_LABEL}</option>
											<option value="4">{USER_SUPER_ADMIN_LABEL}</option>
											<option value="5">{USER_MASTER_ADMIN_LABEL}</option>
										</select>
									</div>
									<div class="required">
										<label for="handle">{USER_USERNAME_LABEL}</label>
										<input type="text" id="handle" name="handle" class="input-textsmall" />
									</div>
									<div class="required"><label for="name">{NAME_LABEL}</label>
										<input type="text" id="name" name="name" class="input-textsmall" />
									</div>
									<div class="optional">
										<label for="email">{USER_EMAIL_LABEL}</label>
										<input type="text" id="email" name="email" class="input-textsmall" />
									</div>
									<div class="optional">
										<label for="passwd">{USER_PASSWORD_LABEL}</label>
										<input type="password" id="passwd" name="passwd" class="input-textsmall" />
									</div>
								</fieldset>
								<h3>{RIGHTS_LABEL}</h3>
								<fieldset>
									<h5>{SELECTED_RIGHTS_LABEL}</h5>
									<ul class="sortable strong" id="rights"></ul>
									<h5 class="secondary">{AVAILABLE_RIGHTS_LABEL}</h5>
									<ul class="sortable" id="allrights">
										<!-- BEGIN user-allrights -->
										<li id="allrights_{VALUE}">{TEXT}</li>
										<!-- END user-allrights -->
									</ul>
								</fieldset>
								<h3>{GROUPS_LABEL}</h3>
								<fieldset>
									<h5>{SELECTED_GROUPS_LABEL}</h5>
									<ul class="sortable strong" id="groups"></ul>
									<h5 class="secondary">{AVAILABLE_GROUPS_LABEL}</h5>
									<ul class="sortable" id="allgroups">
										<!-- BEGIN user-allgroups -->
										<li id="group_{VALUE}">{TEXT}</li>
										<!-- END user-allgroups -->
									</ul>
								</fieldset>
								<div>
									<input type="hidden" id="perm_user_id" name="perm_user_id" />
								</div>
								<div class="subnav"><a id="cancel" href="#" rel="internal">{BUTTON_CANCEL}</a> | <input type="button" id="save" class="input-button" value="{BUTTON_SAVE}" /></div>
								<script type="text/javascript">
								// <![CDATA[
									//*** Add sortable functionality
									jQuery("#rights, #allrights").sortable({
										dropOnEmpty: true,
										connectWith: "#rights, #allrights",
										axis: "y"
									});
									jQuery("#rights, #allrights").disableSelection();
									
									jQuery("#groups, #allgroups").sortable({
										dropOnEmpty: true,
										connectWith: "#groups, #allgroups",
										axis: "y"
									});
									jQuery("#groups, #allgroups").disableSelection();
									//*** Add hover styling
									jQuery("#rights li, #allrights li, #groups li, #allgroups li").live("mouseover mouseout", function(event){
										if(event.type == "mouseover"){
											jQuery(this).addClass("hover");
										}
										else {
											jQuery(this).removeAttr("class");
										}
									});
									
									//*** Handle buttons
									jQuery("a#cancel").live("click", function(){
										User.load(jQuery('#itemlist option:selected').val());
										return false;
									});
									jQuery("#save").live("click", function(){
										User.write('userForm');
										return false;
									});
	
									jQuery.debug({content: "Template: users_users.tpl.htm"});
								// ]]>
								</script>
							</div>
						</form>
					</div>
