
					<div class="column">
						<form id="groupForm" class="users" method="post" action="#">
							<h3><span id="userProgress"></span>{SUBTITLE}</h3>
							<div class="optional">
								<label for="is_active" class="label-checkbox"><input type="checkbox" id="is_active" name="is_active" class="input-checkbox" /> {ACTIVE_LABEL}</label>
							</div>
							<div class="required">
								<label for="group_define_name">{NAME_LABEL}</label>
								<input type="text" id="group_define_name" name="group_define_name" class="input-textsmall" />
							</div>
							<h4>{RIGHTS_LABEL}</h4>
							<fieldset>
								<h5>{SELECTED_RIGHTS_LABEL}</h5>
								<ul class="sortable strong" id="rights"></ul>
								<h5 class="secondary">{AVAILABLE_RIGHTS_LABEL}</h5>
								<ul class="sortable" id="allrights">
									<!-- BEGIN group-allrights -->
									<li id="right_{VALUE}" onmouseover="Element.addClassName(this, 'hover');" onmouseout="Element.removeClassName(this, 'hover');">{TEXT}</li>
									<!-- END group-allrights -->
								</ul>
							</fieldset>
							<h4>{USERS_LABEL}</h4>
							<fieldset>
								<h5>{SELECTED_USERS_LABEL}</h5>
								<div class="scrolllist">
									<ul class="sortable strong" id="users"></ul>
								</div>
								<h5 class="secondary">{AVAILABLE_USERS_LABEL}</h5>
								<div class="scrolllist">
									<ul class="sortable" id="allusers">
										<!-- BEGIN group-allusers -->
										<li id="user_{VALUE}" onmouseover="Element.addClassName(this, 'hover');" onmouseout="Element.removeClassName(this, 'hover');">{TEXT}</li>
										<!-- END group-allusers -->
									</ul>
								</div>
							</fieldset>
							<h4>{SUBGROUPS_LABEL}</h4>
							<fieldset>
								<h5>{SELECTED_GROUPS_LABEL}</h5>
								<div class="scrolllist">
									<ul class="sortable strong" id="subgroups"></ul>
								</div>
								<h5 class="secondary">{AVAILABLE_GROUPS_LABEL}</h5>
								<div class="scrolllist">
									<ul class="sortable" id="allsubgroups">
										<!-- BEGIN group-allsubgroups -->
										<li id="group_{VALUE}" onmouseover="Element.addClassName(this, 'hover');" onmouseout="Element.removeClassName(this, 'hover');">{TEXT}</li>
										<!-- END group-allsubgroups -->
									</ul>
								</div>
							</fieldset>
							<div>
								<input type="hidden" id="group_id" name="group_id" />
							</div>
							<div class="subnav"><a href="javascript:void(0);" onclick="Group.load($F('itemList'), 'groupForm');" rel="internal">{BUTTON_CANCEL}</a> | <input type="button" onclick="Group.write('groupForm');" class="input-button" value="{BUTTON_SAVE}" /></div>
							<script type="text/javascript">
							// <![CDATA[
								Sortable.create("rights", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allrights", "rights"],constraint:false});
								Sortable.create("allrights", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allrights", "rights"],constraint:false});
								Sortable.create("users", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allusers", "users"],constraint:false});
								Sortable.create("allusers", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allusers", "users"],constraint:false});
								Sortable.create("subgroups", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allsubgroups", "subgroups"],constraint:false});
								Sortable.create("allsubgroups", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allsubgroups", "subgroups"],constraint:false});
							// ]]>
							</script>
						</form>
					</div>
