<div id="content">
	<!-- BEGIN form.edit -->
	<div class="formWrapper">
		<form id="accountForm" method="post" action="?">
			<!-- BEGIN form.field.punchid -->
			<div class="required">
				<label for="frm_punchid">Punch ID</label>
				<input type="text" id="frm_punchid" name="frm_punchid" class="input-textlarge readonly" readonly="readonly" value="{PUNCH_ID_VALUE}" />
			</div>
			<!-- END form.field.punchid -->
			<div class="required">
				<label for="frm_name">Name</label>
				<input type="text" id="frm_name" name="frm_name" class="input-textlarge" value="{NAME_VALUE}" />
			</div>
			<div class="required">
				<label for="frm_uri">Subdomain</label>
				<input type="text" id="frm_uri" name="frm_uri" class="input-textsmall" value="{URI_VALUE}" />
			</div>
			<div class="required">
				<label for="frm_account_name">Admin Name</label>
				<input type="text" id="frm_account_name" name="frm_account_name" class="input-textsmall" value="{ACCOUNT_NAME_VALUE}" />
			</div>
			<div class="required">
				<label for="frm_account_pass">Admin Password</label>
				<input type="password" id="frm_account_pass" name="frm_account_pass" class="input-textsmall" value="{ACCOUNT_PASS_VALUE}" />
			</div>
			<div class="required">
				<label for="frm_account_email">Admin Email</label>
				<input type="text" id="frm_account_email" name="frm_account_email" class="input-textlarge" value="{ACCOUNT_EMAIL_VALUE}" />
			</div>
			<div class="required">
				<label for="frm_account_product_1">Product(s)</label>
				<fieldset>
					<!-- BEGIN form.field.product -->
					<label for="frm_account_product_{ID}" class="label-check"><input type="checkbox" id="frm_account_product_{ID}" name="frm_account_product[]" value="{VALUE}" {CHECKED} /> {LABEL}</label>
					<!-- END form.field.product -->
				</fieldset>
			</div>
			<div class="navigation">
				<input type="hidden" name="eid" value="{EID}" />
				<input type="hidden" name="cid" value="{CID}" />
				<input type="hidden" name="cmd" value="{CMD}" />
				<input type="hidden" name="frm_userid" value="{USER_ID}" />
				<input type="hidden" name="dispatch" value="editAccount" />
				<input type="button" value="Cancel" onclick="Account.cancel()" />
				<input type="submit" value="Save" />
			</div>
		</form>
	</div>
	<!-- END form.edit -->
	<!-- BEGIN form.import -->
	<div class="formWrapper">
		<form id="accountForm" method="post" action="?" enctype="multipart/form-data">
			<div class="required">
				<label for="frm_file">Exported File</label>
				<input type="file" id="frm_file" name="frm_file" class="input-file" />
			</div>
			<div class="required">
				<label for="frm_file">Import options</label>				
				<fieldset>
					<label for="frm_import_overwrite" class="label-check"><input type="checkbox" id="frm_import_overwrite" name="frm_import_overwrite" value="true" checked="checked" /> Overwrite existing account</label>
					<label for="frm_import_keep_settings" class="label-check"><input type="checkbox" id="frm_import_keep_settings" name="frm_import_keep_settings" value="true" /> Keep exisiting settings</label>
				</fieldset>
			</div>
			<div class="navigation">
				<input type="hidden" name="cid" value="{CID}" />
				<input type="hidden" name="cmd" value="{CMD}" />
				<input type="hidden" name="dispatch" value="importAccount" />
				<input type="button" value="Cancel" onclick="Account.cancel()" />
				<input type="submit" value="Import" />
			</div>
		</form>
	</div>
	<!-- END form.import -->
	<!-- BEGIN form.restore -->
	<div class="formWrapper">
		<form id="restoreForm" method="post" action="?">
			<p>Choose a backup to restore the current account to. This will restore everything except the settings.</p>
			<div class="required">
				<label for="frm_account">Account</label>
				<input type="text" id="frm_account" name="frm_account" class="input-textlarge readonly" readonly="readonly" value="{ACCOUNT_VALUE}" />
			</div>
			<div class="required">
				<label for="frm_backup">Backup</label>
				<select id="frm_backup" name="frm_backup" class="select-one">
					<!-- BEGIN form.field.backup -->
					<option value="{VALUE}">{LABEL}</option>
					<!-- END form.field.backup -->
				</select>
			</div>
			<div class="navigation">
				<input type="hidden" name="eid" value="{EID}" />
				<input type="hidden" name="cid" value="{CID}" />
				<input type="hidden" name="cmd" value="{CMD}" />
				<input type="hidden" name="dispatch" value="restoreAccount" />
				<input type="button" value="Cancel" onclick="Account.cancel()" />
				<input type="submit" value="Restore" />
			</div>
		</form>
	</div>
	<!-- END form.restore -->
	<!-- BEGIN text -->
	{BODY}
	<!-- END text -->
</div>