<div id="content">
	<!-- BEGIN list-items -->
	<ul class="list" id="items">
		<!-- BEGIN list-item -->
		<li>
			<div class="listitem{SORTABLE}" id="item_{ITEM_ID}">
				<!-- BEGIN list-item-menu -->
				<span class="menu">
					<a href="{ITEM_EXPORT}">Export</a>
					<a href="{ITEM_EDIT}">Edit</a>
					<a href="{ITEM_RESTORE}">Restore</a>
					<a onclick="{ITEM_TYPE}.remove({ITEM_ID})" href="javascript:;"><img alt="Delete {ITEM_TYPE}" src="images/button_delete_out.gif" onmouseover="this.src='images/button_delete_over.gif'" onmouseout="this.src='images/button_delete_out.gif'" /></a>
				</span>
				<!-- END list-item-menu -->
				<span title="{ITEM_TITLE}" class="{ITEM_CLASS}">{ITEM_LABEL}</span>
			</div>
		</li>
		<!-- END list-item -->
	</ul>
	<!-- END list-items -->
</div>