<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--     ==================================================     -->
<!--         _____  _     _          _                          -->
<!--        |  __ \| |   (_)        | |                         -->
<!--        | |__) | |__  ___  _____| |  ___  _ __ __ _         -->
<!--        |  ___/| '_ \| \ \/ / _ \ | / _ \| '__/ _` |        -->
<!--        | |    | | | | |>  <  __/ || (_) | | | (_| |        -->
<!--        |_|    |_| |_|_/_/\_\___|_(_)___/|_|  \__, |        -->
<!--                                               __/ |        -->
<!--                                              |___/         -->
<!--                                                            -->
<!--     ==================================================     -->
<!--	      DEVELOPED BY PHIXEL.ORG | WWW.PHIXEL.ORG          -->
<!--     ==================================================     -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{PAGE_TITLE}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/form.css" />
<script type="text/javascript" src="libraries/jquery.js"></script>
<script type="text/javascript" src="libraries/jquery.corner.js"></script>
<script type="text/javascript" src="includes/cms.js"></script>
<script type="text/javascript" src="includes/inc.common.js"></script>

<link rel="stylesheet" type="text/css" href="/css/skin.flat-blue.css" />

</head>
<body>

<div id="header">
	<!-- BEGIN login -->
	<div id="topbar">&nbsp;</div>
	<h1 class="center">{APP_TITLE}</h1>
	<!-- END login -->
	<!-- BEGIN common -->
	<div id="topbar">Logged in as <span>{LOGIN_NAME}</span> [ <a href="{LOGOUT_URL}">Log out</a> ]</div>
	<h1>{APP_TITLE}</h1>
	<!-- BEGIN menu-main -->
	<ul id="menu-main">
		<!-- BEGIN menu-main-item -->
		<li><a href="{MAIN_URL}" class="{MAIN_CLASS}">{MAIN_LABEL}</a></li>
		<!-- END menu-main-item -->
	</ul>
	<!-- END menu-main -->
	<!-- BEGIN menu-sub -->
	<ul id="menu-sub">
		<!-- BEGIN menu-sub-item -->
		<li><a href="{SUB_URL}" class="{SUB_CLASS}">{SUB_LABEL}</a></li>
		<!-- END menu-sub-item -->
	</ul>
	<!-- END menu-sub -->
	<!-- END common -->
</div>