
		<div id="left-wrap" class="center-wrap">
			<h2>
				<span class="menu"><a href="{BUTTON_INDEX_HREF}" rel="internal">{BUTTON_INDEX}</a></span>
				{MAINTITLE}
			</h2>
			<form id="searchForm" method="post" action="?">
				<fieldset>
					<!-- BEGIN searchdescription -->
					<div class="searchdescription">
						<p><b>{SEARCH_DESCRIPTION}</b></p>
					</div>
					<!-- END searchdescription -->
					<div class="required">
						<input type="text" id="query" name="query" class="input-textlarge" />
						<input type="submit" value="{SEARCH_BUTTON}" class="input-button" />
					</div>
					<div class="optional" style="margin-bottom:5px;">
						<input type="checkbox" id="search_all" name="search_all" class="input-checkbox" /><label for="search_all" class="label-search"> {SEARCH_ALL}</label>
					</div>
					<input type="hidden" name="dispatch" value="search" />
					<input type="hidden" name="cid" value="{CID}" />
					<input type="hidden" name="cmd" value="{CMD}" />
					<input type="hidden" name="eid" value="{EID}" />
				</fieldset>
			</form>
			<!-- BEGIN searchresults -->
			<div class="searchwrap">
				<h3>{RESULT_LABEL} <span class="name">&lsquo;{SEARCH_STRING}&rsquo;</span></h3>
				<!-- BEGIN searchresult -->
				<div class="searchresult">
					<!-- BEGIN resultname --><h4><a href="?cid={CID}&amp;eid={EID}&amp;cmd={CMD}" rel="internal">{RESULT_NAME}</a> <span>({RESULT_RATIO}%)</span></h4><!-- END resultname -->
					<!-- BEGIN resultvalue --><p>{RESULT_VALUE}</p><!-- END resultvalue -->
					<!-- BEGIN resultpath --><small>{RESULT_PATH}</small><!-- END resultpath -->
				</div>
				<!-- END searchresult -->
				<!-- BEGIN searchnav -->
				<div class="page-nav">
					<p>
						<a href="{PAGENAV_PREVIOUS_HREF}" rel="internal"><strong>{PAGENAV_PREVIOUS}</strong></a>
						<!-- BEGIN pagenavitem -->
						<a {PAGENAV_HREF} rel="internal">{PAGENAV_VALUE}</a>
						<!-- END pagenavitem -->
						<a href="{PAGENAV_NEXT_HREF}" rel="internal"><strong>{PAGENAV_NEXT}</strong></a>
					</p>
					<h4>{PAGENAV_PAGE}</h4>
				</div>
				<!-- END searchnav -->
			</div>
			<!-- END searchresults -->
		</div>

	</div>
</div>

