
					<div class="column">
						<form id="rightForm" class="users" method="post" action="#">
							<h3><span id="userProgress"></span>{SUBTITLE}</h3>
							<div class="required">
								<label for="right_define_name">{NAME_LABEL}</label>
								<input type="text" id="right_define_name" name="right_define_name" class="input-textsmall" />
							</div>
							<div class="required">
								<label for="area_id">{AREA_LABEL}</label>
								<select id="area_id" name="area_id" class="select-singlesmall">
									<!-- BEGIN right-area -->
									<option value="{VALUE}">{TEXT}</option>
									<!-- END right-area -->
								</select>
							</div>
							<h4>{IMPLIED_RIGHTS_LABEL}</h4>
							<fieldset>
								<h5>{SELECTED_RIGHTS_LABEL}</h5>
								<ul class="sortable strong" id="rights"></ul>
								<h5 class="secondary">{AVAILABLE_RIGHTS_LABEL}</h5>
								<ul class="sortable" id="allrights">
									<!-- BEGIN right-allrights -->
									<li id="right_{VALUE}" onmouseover="Element.addClassName(this, 'hover');" onmouseout="Element.removeClassName(this, 'hover');">{TEXT}</li>
									<!-- END right-allrights -->
								</ul>
							</fieldset>
							<h4>{GROUPS_LABEL}</h4>
							<fieldset>
								<h5>{SELECTED_GROUPS_LABEL}</h5>
								<ul class="sortable strong" id="groups"></ul>
								<h5 class="secondary">{AVAILABLE_GROUPS_LABEL}</h5>
								<ul class="sortable" id="allgroups">
									<!-- BEGIN right-allgroups -->
									<li id="group_{VALUE}" onmouseover="Element.addClassName(this, 'hover');" onmouseout="Element.removeClassName(this, 'hover');">{TEXT}</li>
									<!-- END right-allgroups -->
								</ul>
							</fieldset>
							<h4>{USERS_LABEL}</h4>
							<fieldset>
								<h5>{SELECTED_USERS_LABEL}</h5>
								<div class="scrolllist">
									<ul class="sortable strong" id="users"></ul>
								</div>
								<h5 class="secondary">{AVAILABLE_USERS_LABEL}</h5>
								<div class="scrolllist">
									<ul class="sortable" id="allusers">
										<!-- BEGIN right-allusers -->
										<li id="user_{VALUE}" onmouseover="Element.addClassName(this, 'hover');" onmouseout="Element.removeClassName(this, 'hover');">{TEXT}</li>
										<!-- END right-allusers -->
									</ul>
								</div>
							</fieldset>
							 <script type="text/javascript">
							 // <![CDATA[
									Sortable.create("rights", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allrights", "rights"],constraint:false});
									Sortable.create("allrights", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allrights", "rights"],constraint:false});
									Sortable.create("groups", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allgroups", "groups"],constraint:false});
									Sortable.create("allgroups", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allgroups", "groups"],constraint:false});
									Sortable.create("users", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allusers", "users"],constraint:false});
									Sortable.create("allusers", {dropOnEmpty:true,hoverclass:"sorthover",containment:["allusers", "users"],constraint:false});
							 // ]]>
							 </script>
							<div>
								<input type="hidden" id="right_id" name="right_id" />
							</div>
							<div class="subnav"><a href="javascript:void(0);" onclick="Right.load($F('itemList'), 'rightForm');" rel="internal">{BUTTON_CANCEL}</a> | <input type="button" onclick="Right.write('rightForm');" class="input-button" value="{BUTTON_SAVE}" /></div>
						</form>
					</div>
