					<div class="column">
						<form id="applicationForm" method="post" action="#" class="users ui-tabs ui-widget ui-widget-content ui-corner-all">
							<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
								<h3 class="no-margin"><span id="userProgress"></span>{SUBTITLE}</h3>
								<fieldset>
								<div class="required">
									<label for="application_define_name">{NAME_LABEL}</label>
									<input type="text" id="application_define_name" name="application_define_name" class="input-textsmall" />
								</div>
								</fieldset>
								<h4>{AREAS_LABEL}</h4>
								<fieldset>
									<h5>{SELECTED_AREAS_LABEL}</h5>
									<ul class="sortable strong" id="areas"></ul>
								</fieldset>
								<div>
									<input type="hidden" id="application_id" name="application_id" />
								</div>
								<div class="subnav"><a id="cancel" href="#" rel="internal">{BUTTON_CANCEL}</a> | <input id="save" type="button" class="input-button" value="{BUTTON_SAVE}" /></div>
							</div>
						</form>
					</div>
					<script type="text/javascript">
						jQuery("a#cancel").live("click", function(){
							Application.clearForm("applicationForm");
							return false;
						});
						jQuery("#save").live("click", function(){
							Application.write("applicationForm");
							return false;
						});
					</script>