
<body id="cms">

<div id="canvas">

	<div id="punchHeader">
		<ul>
			<!-- BEGIN mypunch.product --><li><a href="?cid={CID_MYPUNCH_PRODUCT}" {ACTIVE_MYPUNCH_PRODUCT} rel="internal">{LABEL_MYPUNCH_PRODUCT}</a></li><!-- END mypunch.product -->
			<!-- BEGIN mypunch.account --><li class="right"><a href="?cid={CID_MYPUNCH_ACCOUNT}" {ACTIVE_MYPUNCH_ACCOUNT} rel="internal">{LABEL_MYPUNCH_ACCOUNT}</a></li><!-- END mypunch.account -->
			<!-- BEGIN mypunch.profile --><li class="right"><a href="?cid={CID_MYPUNCH_PROFILE}" {ACTIVE_MYPUNCH_PROFILE} rel="internal">{LABEL_MYPUNCH_PROFILE}</a></li><!-- END mypunch.profile -->
			<!-- BEGIN mypunch.users --><li class="right"><a href="?cid={CID_MYPUNCH_USERS}" {ACTIVE_MYPUNCH_USERS} rel="internal">{LABEL_MYPUNCH_USERS}</a></li><!-- END mypunch.users -->
		</ul>
	</div>

	<div id="header">
		<div class="loggedin">
			<p>{LOGGEDIN} <a {PROFILE_LINK} rel="internal">{USER_NAME}</a> (<a href="?cid=9&amp;cmd=5" rel="internal">{LOGOUT}</a>)</p>
		</div>
		<h1>{COMPANY_NAME}</h1>
		<!-- BEGIN mypunchsub -->
		<ul id="nav">
			<!-- BEGIN mypunchsub.account --><li><a href="?cid={CID_MYPUNCHSUB_ACCOUNT}" {ACTIVE_MYPUNCHSUB_ACCOUNT} rel="internal">{LABEL_MYPUNCHSUB_ACCOUNT}</a></li><!-- END mypunchsub.account -->
			<!-- BEGIN mypunchsub.profile --><li><a href="?cid={CID_MYPUNCHSUB_PROFILE}" {ACTIVE_MYPUNCHSUB_PROFILE} rel="internal">{LABEL_MYPUNCHSUB_PROFILE}</a></li><!-- END mypunchsub.profile -->
			<!-- BEGIN mypunchsub.users --><li><a href="?cid={CID_MYPUNCHSUB_USERS}" {ACTIVE_MYPUNCHSUB_USERS} rel="internal">{LABEL_MYPUNCHSUB_USERS}</a></li><!-- END mypunchsub.users -->
		</ul>
		<!-- END mypunchsub -->
		<!-- BEGIN pcms -->
		<ul id="nav">
			<!-- BEGIN pcms.dashboard --><li><a href="?cid={CID_PCMS_DASHBOARD}" {ACTIVE_PCMS_DASHBOARD} rel="internal">{LABEL_PCMS_DASHBOARD}</a></li><!-- END pcms.dashboard -->
			<!-- BEGIN pcms.elements --><li><a href="?cid={CID_PCMS_ELEMENTS}" {ACTIVE_PCMS_ELEMENTS} rel="internal">{LABEL_PCMS_ELEMENTS}</a></li><!-- END pcms.elements -->
			<!-- BEGIN pcms.templates --><li><a href="?cid={CID_PCMS_TEMPLATES}" {ACTIVE_PCMS_TEMPLATES} rel="internal">{LABEL_PCMS_TEMPLATES}</a></li><!-- END pcms.templates -->
			<!-- BEGIN pcms.forms --><li><a href="?cid={CID_PCMS_FORMS}" {ACTIVE_PCMS_FORMS} rel="internal">{LABEL_PCMS_FORMS}</a></li><!-- END pcms.forms -->
			<!-- BEGIN pcms.storage --><li><a href="?cid={CID_PCMS_STORAGE}" {ACTIVE_PCMS_STORAGE} rel="internal">{LABEL_PCMS_STORAGE}</a></li><!-- END pcms.storage -->
			<!-- BEGIN pcms.aliases --><li><a href="?cid={CID_PCMS_ALIASES}" {ACTIVE_PCMS_ALIASES} rel="internal">{LABEL_PCMS_ALIASES}</a></li><!-- END pcms.aliases -->
			<!-- BEGIN pcms.feeds --><li><a href="?cid={CID_PCMS_FEEDS}" {ACTIVE_PCMS_FEEDS} rel="internal">{LABEL_PCMS_FEEDS}</a></li><!-- END pcms.feeds -->
			<!-- BEGIN pcms.help --><li class="sec"><a href="?cid={CID_PCMS_HELP}" {ACTIVE_PCMS_HELP} rel="internal">{LABEL_PCMS_HELP}</a></li><!-- END pcms.help -->
			<!-- BEGIN pcms.search --><li class="sec"><a href="?cid={CID_PCMS_SEARCH}" {ACTIVE_PCMS_SEARCH} rel="internal">{LABEL_PCMS_SEARCH}</a></li><!-- END pcms.search -->
			<!-- BEGIN pcms.settings --><li class="sec"><a href="?cid={CID_PCMS_SETTINGS}" {ACTIVE_PCMS_SETTINGS} rel="internal">{LABEL_PCMS_SETTINGS}</a></li><!-- END pcms.settings -->
			<!-- BEGIN pcms.languages --><li class="sec"><a href="?cid={CID_PCMS_LANGUAGES}" {ACTIVE_PCMS_LANGUAGES} rel="internal">{LABEL_PCMS_LANGUAGES}</a></li><!-- END pcms.languages -->
		</ul>
		<!-- END pcms -->
		<!-- BEGIN pprojects -->
		<ul id="nav">
			<!-- BEGIN pprojects.projects --><li><a href="?cid={CID_PPROJECTS_PROJECTS}" {ACTIVE_PPROJECTS_PROJECTS} rel="internal">{LABEL_PPROJECTS_PROJECTS}</a></li><!-- END pprojects.projects -->
			<!-- BEGIN pprojects.contacts --><li><a href="?cid={CID_PPROJECTS_CONTACTS}" {ACTIVE_PPROJECTS_CONTACTS} rel="internal">{LABEL_PPROJECTS_CONTACTS}</a></li><!-- END pprojects.contacts -->
			<!-- BEGIN pprojects.calendar --><li><a href="?cid={CID_PPROJECTS_CALENDAR}" {ACTIVE_PPROJECTS_CALENDAR} rel="internal">{LABEL_PPROJECTS_CALENDAR}</a></li><!-- END pprojects.calendar -->
			<!-- BEGIN pprojects.help --><li class="sec"><a href="?cid={CID_PPROJECTS_HELP}" {ACTIVE_PPROJECTS_HELP} rel="internal">{LABEL_PPROJECTS_HELP}</a></li><!-- END pprojects.help -->
		</ul>
		<!-- END pprojects -->
	</div>
	<div id="content-wrap">
