
								<div class="required">
									<label for="{FIELD_ID}">
										<a href="#" rel="internal" class="fieldButton"><img id="{FIELD_ID}_cascade" src="images/lang_unlocked_disabled.gif" width="17" height="16" alt="" /></a>
										{FIELD_REQUIRED}{FIELD_NAME}
									</label>
									<div id="{FIELD_ID}_alt" class="input-textlarge disabled" style="display:none"></div>
									<textarea id="{FIELD_ID}" name="{FIELD_ID}" class="input-textbig" onblur="objContentLanguage.toTemp(this.id);" rows="8" cols="40" style="height:40px;"></textarea>
									<a id="{FIELD_ID}-mc-map-open" class="widget-button" href="#">Map</a>
									<a id="{FIELD_ID}-mc-coord-clear" class="widget-button" href="#">Clear</a>
									<!-- BEGIN field.mccoordinates.descr -->
										<small>{FIELD_DESCRIPTION}</small>
									<!-- END field.mccoordinates.descr -->
									<!-- BEGIN field.mccoordinates.value -->
									<input type="hidden" id="{FIELD_LANGUAGE_ID}" name="{FIELD_LANGUAGE_ID}" value="{FIELD_LANGUAGE_VALUE}" />
									<!-- END field.mccoordinates.value -->
									<input type="hidden" id="{FIELD_ID}_cascades" name="{FIELD_ID}_cascades" value="" />
									<input type="hidden" id="{FIELD_ID}-mc-api" value="{MC-API-ID}" />
									<input type="hidden" id="{FIELD_ID}-mc-map" value="{MC-MAP-ID}" />
									<script type="text/javascript">
									// <![CDATA[
										objContentLanguage.addField('{FIELD_ID}', '{FIELD_CASCADES}', objContentLanguage.FIELDTYPE.TEXT);
										
										var $mcdialog = null;
										
										$(function(){
											$("#{FIELD_ID}-mc-map-open").bind("click", function(){
												var apiId = $("#{FIELD_ID}-mc-api").val();
												var mapId = $("#{FIELD_ID}-mc-map").val();
												var coord = $("#{FIELD_ID}").val();
												$mcdialog = $("<div><iframe id=\"mc-map\" width=\"100%\" height=\"100%\" src=\"http://api.movablecanvas.com/?t=draw&c=" + apiId + "&m=" + mapId + "&height=520&coord=" + coord + "#" + encodeURIComponent(document.location.href) + "\" style=\"display:hidden;border:none;\"></iframe></div>").appendTo("body");
												
												$mcdialog.dialog({
													width: 800,
													height: 600
												});

												return false;
											})
											
											$("#{FIELD_ID}-mc-coord-clear").bind("click", function(){
												$("#{FIELD_ID}").val("");
												
												return false;
											})
										});
										
										$.receiveMessage(
											function(e) {
												var objResponse = jQuery.parseJSON(e.data);
												switch (objResponse.action) {
													case "closeDialog":
														$mcdialog.dialog("destroy");
														break;
													case "setCoordinates":
														$("#{FIELD_ID}").val(objResponse.message);
														objContentLanguage.toTemp("{FIELD_ID}");
														break;
												}
											},
											'http://api.movablecanvas.com'
										);
										
									// ]]>
									</script>
									<div class="clear"></div>
								</div>